Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.1
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '[ ^](//|#|<!--|/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: prevent-overly-nested-hierarchy
        name: prevent overly nested hierarchy
        entry: "^(  ){2,}- " # matches a markdown list with 2 or more indentations
        language: pygrep
        files: \.(md|mdx)$

feat: add best practices for developing website
  website/content/_global_md_links.mdx
  website/content/guides/1 - developing/1 - Website.mdx
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

commented currently unused errors
  internal/pkg/values/values_errors.go
Due: prevent-todo-comments

docs: add documentation for user level configuration layers
  .pre-commit-config.yaml
  website/content/_global_md_links.mdx
  website/content/docs/0 - downscaler/1 - configuration/0 - Arguments.mdx
  website/content/docs/0 - downscaler/1 - configuration/1 - Environment Variables.mdx
  website/content/docs/0 - downscaler/1 - configuration/2 - Annotations.mdx
  website/content/docs/0 - downscaler/1 - configuration/index.mdx
  website/content/docs/0 - downscaler/index.mdx
  website/content/docs/1 - Workflows.mdx
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

refactor: preprocessor to remark plugin
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/plugins/global-ref-plugin.cts
  website/plugins/repo-ref-plugin.cts
  website/plugins/tailwind-config.cts
Due: none

docs: add link to workflow
  website/content/guides/1 - developing/3 - Maintaining the Repository.mdx
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

docs: update markdown links docs
  docs/troubleshooting.md
  website/content/guides/1 - developing/1 - Website.mdx
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: highlight line
  website/content/guides/1 - developing/1 - Website.mdx
  website/docusaurus.config.ts
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: added max-retries-on-conflict support for conflict errors
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: added docs for --max-retries-on-conflict arg
  README.md
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: refactored troubleshooting.md
  docs/troubleshooting.md
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: added leader election mechanism using leases
  cmd/kubedownscaler/main.go
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/leaserole.yaml
  internal/api/kubernetes/client.go
  internal/api/kubernetes/util.go
Due: prevent-todo-comments

fix: prevent non-leaders from deleting the lease during graceful termination
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: aligned logs inside DeleteLease function to the common style
  internal/api/kubernetes/client.go
Due: prevent-todo-comments

feat: ignore workload if managed by keda scaledobject
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
  internal/pkg/values/util.go
Due: prevent-todo-comments

docs: workload types
  .github/workflows/deploy_website.yaml
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/prometheuses.go
  website/content/docs/0 - downscaler/7 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

docs: values and layers
  website/content/docs/0 - downscaler/3 - Runtime Configuration.mdx
  website/content/docs/0 - downscaler/4 - Values.mdx
  website/content/docs/0 - downscaler/5 - Layers.mdx
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

docs: types
  README.md
  website/content/docs/0 - downscaler/6 - types/0 - Timespans.mdx
  website/content/docs/0 - downscaler/6 - types/1 - Duration.mdx
  website/content/docs/0 - downscaler/6 - types/2 - String List.mdx
  website/content/docs/0 - downscaler/6 - types/3 - Regex List.mdx
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

fix: eslint
  .pre-commit-config.yaml
  README.md
  website/.eslintrc
  website/eslint.config.mjs
  website/package-lock.json
  website/package.json
  website/src/theme/prism-include-languages.ts
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

docs: migrating from pykubedownscaler
  website/content/guides/2 - Migrating from py-kube-downscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

chore: bump deps
  go.mod
  go.sum
Due: none

fix: eslint hook
  .pre-commit-config.yaml
Due: none

fix: pre commit workflow
  .github/workflows/pre_commit.yaml
Due: none

fix: pre commit workflow
  .pre-commit-config.yaml
Due: none

fix: pre commit workflow maybe fr this time
  .github/workflows/pre_commit.yaml
Due: none

feat: exclude workloads scaled by scaled objects
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: add comments and avoid type shadowing
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

fix: inverse logic
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat: add tests
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments

fix: make workflows run for forks
  .github/workflows/auto_assign_author.yaml
  .github/workflows/check_for_release.yaml
Due: none

fix: make workflows run for forks (#77)
  .github/workflows/auto_assign_author.yaml
  .github/workflows/check_for_release.yaml
Due: none

fix: old link refs
  website/content/docs/1 - Workflows.mdx
  website/content/guides/1 - developing/3 - Maintaining the Repository.mdx
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

refactor: to use new link references
  website/content/_global_md_links.mdx
  website/content/docs/0 - helm-chart/0 - Components.mdx
  website/content/docs/0 - helm-chart/1 - Permissions.mdx
  website/content/docs/0 - helm-chart/2 - values/0 - replicaCount.mdx
  website/content/docs/0 - helm-chart/2 - values/1 - image.mdx
  website/content/docs/0 - helm-chart/2 - values/10 - securityContext.mdx
  website/content/docs/0 - helm-chart/2 - values/11 - resources.mdx
  website/content/docs/0 - helm-chart/2 - values/12 - nodeSelector.mdx
  website/content/docs/0 - helm-chart/2 - values/13 - tolerations.mdx
  website/content/docs/0 - helm-chart/2 - values/14 - affinity.mdx
  website/content/docs/0 - helm-chart/2 - values/15 - excludedNamespaces.mdx
  website/content/docs/0 - helm-chart/2 - values/16 - configMap.mdx
  website/content/docs/0 - helm-chart/2 - values/2 - arguments.mdx
  website/content/docs/0 - helm-chart/2 - values/3 - includedResources.mdx
  website/content/docs/0 - helm-chart/2 - values/4 - fullnameOverride.mdx
  website/content/docs/0 - helm-chart/2 - values/5 - nameOverride.mdx
  website/content/docs/0 - helm-chart/2 - values/6 - constrainedDownscaler.mdx
  website/content/docs/0 - helm-chart/2 - values/7 - constrainedNamespaces.mdx
  website/content/docs/0 - helm-chart/2 - values/8 - serviceAccount.mdx
  website/content/docs/0 - helm-chart/2 - values/9 - podSecurityContext.mdx
  website/content/docs/0 - helm-chart/2 - values/index.mdx
  website/content/docs/0 - helm-chart/index.mdx
  website/content/docs/1 - Workflows.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/1 - developing/3 - Maintaining the Repository.mdx
  website/plugins/global-ref-plugin.cts
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

refactor: externally scaled filter to better match exsiting structure
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

fix: adjust config to better meet needs and be a bit stricter
  .github/ISSUE_TEMPLATE/issue-template.md
  .markdownlint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

Merge feat/AddHelmDocs
  .pre-commit-config.yaml
  README.md
  deployments/chart/README.md
  deployments/chart/templates/configmap.yaml
  deployments/chart/values.yaml
  website/content/docs/0 - helm-chart/0 - Components.mdx
  website/content/docs/0 - helm-chart/1 - Permissions.mdx
  website/content/docs/0 - helm-chart/2 - values/0 - replicaCount.mdx
  website/content/docs/0 - helm-chart/2 - values/1 - image.mdx
  website/content/docs/0 - helm-chart/2 - values/10 - securityContext.mdx
  website/content/docs/0 - helm-chart/2 - values/11 - resources.mdx
  website/content/docs/0 - helm-chart/2 - values/12 - nodeSelector.mdx
  website/content/docs/0 - helm-chart/2 - values/13 - tolerations.mdx
  website/content/docs/0 - helm-chart/2 - values/14 - affinity.mdx
  website/content/docs/0 - helm-chart/2 - values/15 - excludedNamespaces.mdx
  website/content/docs/0 - helm-chart/2 - values/16 - configMap.mdx
  website/content/docs/0 - helm-chart/2 - values/2 - arguments.mdx
  website/content/docs/0 - helm-chart/2 - values/3 - includedResources.mdx
  website/content/docs/0 - helm-chart/2 - values/4 - fullnameOverride.mdx
  website/content/docs/0 - helm-chart/2 - values/5 - nameOverride.mdx
  website/content/docs/0 - helm-chart/2 - values/6 - constrainedDownscaler.mdx
  website/content/docs/0 - helm-chart/2 - values/7 - constrainedNamespaces.mdx
  website/content/docs/0 - helm-chart/2 - values/8 - serviceAccount.mdx
  website/content/docs/0 - helm-chart/2 - values/9 - podSecurityContext.mdx
  website/content/docs/0 - helm-chart/2 - values/index.mdx
  website/content/docs/0 - helm-chart/index.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
  website/content/guides/0 - getting-started/index.mdx
  website/plugins/global-ref-plugin.cts
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

chore: bump deps
  website/package-lock.json
  website/package.json
Due: none

fix: pre commit violations
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  deployments/chart/README.md
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

refactor: merge configs
  .markdownlint-cli2.yaml
  .markdownlint.yaml
Due: none
