Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/jonathan-mayer/pre-commit-deadcode
    rev: v0.0.1
    hooks:
      - id: go-deadcode
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

fix: typo on create_release action
  .github/workflows/create_release.yaml
Due: prevent-todo-comments

fix: backport behavior
  .backportrc.json
  .github/workflows/backport.yaml
  .github/workflows/create_release.yaml
Due: prevent-todo-comments

refactor: github actions for backport, check_for_release and helm_build
  .github/workflows/backport.yaml
  .github/workflows/check_for_release.yaml
  .github/workflows/helm_build.yaml
Due: prevent-todo-comments

refactor: supported resources
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, eslint

refactor: typo on values.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: enhanced chart.yaml
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

refactor: helm chart backlinks and seo
  deployments/chart/Chart.yaml
  deployments/chart/README.md
Due: prevent-todo-comments, prevent-too-small-headings

refactor: docs
  website/content/contributing/0 - developing/0 - Downscaler.mdx
  website/content/contributing/2 - Github Workflows.mdx
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/2 - downscaler/4 - Metrics.mdx
  website/content/docs/4 - faq.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/1 - advanced-guides/2 - DNS-Aware Load Balancer Scaling.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: minor improvements
  .github/workflows/backport.yaml
  .github/workflows/create_release.yaml
  website/content/docs/2 - downscaler/2 - types/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: minor improvements
  website/content/docs/2 - downscaler/2 - types/index.mdx
  website/content/guides/0 - getting-started/3 - On Demand Startup.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: updated brace-expansion dependency
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

chore: updated brace-expansion dependency
  website/package.json
Due: prevent-todo-comments

feat: added options to specify pdbs
  deployments/chart/templates/poddisruptionbudget.yaml
  deployments/chart/templates/webhookpoddisruptionbudget.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: added options to specify pdbs
  website/content/docs/3 - helm-chart/0 - Components.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - podDisruptionBudget.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/34 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/35 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/36 - webhookControllerPriorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/37 - webhookPodMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/38 - webhookControllerPodDisruptionBudget.mdx
  website/content/docs/3 - helm-chart/2 - values/39 - deployExtraResources.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: validatingadmissionpolicy and mutatingadmissionpolicy
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

chore: update mermaid dependencies
  website/package.json
Due: prevent-todo-comments

refactor: annotation compliance doc
  website/content/docs/3 - helm-chart/2 - values/a21 - annotationsCompliance.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: annotation compliance doc
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/2 - values/a21 - annotationsCompliance.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: updated go to 1.26.6
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  go.mod
Due: none

chore: fix vulnerabilities
  website/package-lock.json
Due: prevent-todo-comments

chore: updated go to 1.26.8
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  go.mod
Due: none

chore: bumped chart version and appversion to 1.4.0
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

chore: added release 1.4.0 article
  website/blog/2026-09-04-announcing-gokubedownscaler-1-4-0.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Feat/Add Kruise Resources (StatefulSet, CloneSet, AdvancedDaemonsets, AdvancedCronJobs, BroadcastJob) (#443)
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  go.mod
  go.sum
  internal/api/kubernetes/client.go
  internal/pkg/scalable/advancedcronjobs.go
  internal/pkg/scalable/advanceddaemonsets.go
  internal/pkg/scalable/advancedstatefulsets.go
  internal/pkg/scalable/broadcastjobs.go
  internal/pkg/scalable/clonesets.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/imagepulljobs.go
  internal/pkg/scalable/nodeSelectorScaledWorkload.go
  internal/pkg/scalable/nodeSelectorScaledWorkload_test.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/1 - Permissions.mdx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
  website/static/img/OpenKruise.svg
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: change baseUrl in tsconfig.json to null
  website/tsconfig.json
Due: prevent-todo-comments

chore: bumped go dependencies, website dependencies, docker base images
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
Due: none

feat: further refactoring check_for_release action for hardening
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

chore: bumped app version
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

refactor: check for release step to perform only a single check
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

feat: added values.schema.json to helm chart
  deployments/chart/values.schema.json
Due: prevent-todo-comments

typo: removed space from dockerfile
  build/admissioncontroller/Dockerfile
Due: none

feat: added llms.txt for seo and ai models crawling
  website/static/llms.txt
Due: none

refactor: helm chart fixes and simplifications
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/podmonitor.yaml
  deployments/chart/templates/webhookclusterrole.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/templates/webhookpodmonitor.yaml
  deployments/chart/templates/webhookrole.yaml
  deployments/chart/templates/webhookserviceaccount.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: additional helm chart fixes and simplifications
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/podmonitor.yaml
  deployments/chart/templates/webhookclusterrole.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/templates/webhookpodmonitor.yaml
  deployments/chart/templates/webhookrole.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: added release branching strategy and backport for easy cherry picks
  .github/workflows/create_release.yaml
  CONTRIBUTING.md
  website/content/contributing/1 - Maintaining the Repository.mdx
  website/content/contributing/2 - Github Workflows.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added backport dedicated action with backportrc.json file
  .backportrc.json
  .github/workflows/backport.yaml
Due: prevent-todo-comments
