Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/jonathan-mayer/pre-commit-deadcode
    rev: v0.0.1
    hooks:
      - id: go-deadcode
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

feat: clamp minReplicas to maxReplicas, add specific tests for hpa special cases
  cmd/admissioncontroller/main.go
  internal/pkg/scalable/horizontalpodautoscaler_test.go
  internal/pkg/scalable/horizontalpodautoscalers.go
Due: prevent-todo-comments

docs: documented hpa behavior when minReplicas>maxReplicas during the scale up process
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: implementing ingresses and gateways downscaling logic, added helm chart logic and docs
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  go.mod
  go.sum
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/gateways_test.go
  internal/pkg/scalable/helpers_test.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/ingresses_test.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/2 - values/4 - includedResources.mdx
  website/src/components/Homepage/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: aggregated common logic into valueScaledWorkload
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/gateways_test.go
  internal/pkg/scalable/helpers_test.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/ingresses_test.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/services_test.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads_test.go
Due: prevent-todo-comments

feat: added deploy of ingressClass or gatewayClass when gateways or ingresses are in includedResources
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/downscalergatewayclass.yaml
  deployments/chart/templates/downscaleringressclass.yaml
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
Due: prevent-todo-comments

feat: added documentations
  website/content/docs/3 - helm-chart/0 - Components.mdx
  website/content/docs/3 - helm-chart/1 - Permissions.mdx
  website/content/docs/3 - helm-chart/2 - values/37 - deployExtraResources.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: deploy mode of gatewayClass and ingressClass
  deployments/chart/templates/NOTES.txt
  deployments/chart/templates/downscalergatewayclass.yaml
  deployments/chart/templates/downscaleringressclass.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

chore: updated website dependencies
  website/package-lock.json
Due: prevent-todo-comments

chore: edited golanci.yaml to exclude website/node_modules from .go scanning
  .golangci.yaml
Due: prevent-todo-comments

chore: bumped go version to 1.25.9
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  go.mod
Due: none

chore: bumped eslint to 10.2.0
  website/package.json
Due: prevent-todo-comments

chore: bumped eslint to 10.2.0
  website/package-lock.json
Due: prevent-todo-comments

chore: bumped dependencies (mainly docusaurus 3.10)
  website/package-lock.json
Due: prevent-todo-comments

chore: bumped dependencies (mainly docusaurus 3.10), eslint, postcss
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

chore: migrated "future.experimental_faster" to "faster" in docusaurus.config.ts
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

feat: added singleTimeSpan implementation
  internal/pkg/values/errors.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

feat: renamed singleTimespan to more descriptive directionalTimespan
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

feat: added docs for directional timespan
  website/content/docs/2 - downscaler/2 - types/0 - Timespans.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add support for kruise resources
  deployments/chart/templates/_helpers.tpl
  go.mod
  go.sum
  internal/pkg/scalable/clonesets.go
  internal/pkg/scalable/kruisestatefulsets.go
  internal/pkg/scalable/uniteddeployments.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/1 - Permissions.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add support for kruise resources
  cmd/admissioncontroller/main.go
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/advancedstatefulsets.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/kruisestatefulsets.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: added clientset, renamaed kruisestatefulset to advancedstatefulset
  cmd/admissioncontroller/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: singleTimeSpan renamed as directionalTimeSpan
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

feat: added gateway clientset initialization
  internal/api/kubernetes/client.go
Due: prevent-todo-comments

chore: added gateway api logo and gateways in supported resources section
  website/src/components/Homepage/SupportedResources.tsx
  website/static/img/Gateway.svg
Due: prevent-todo-comments, eslint

chore: added openkruise logo and supported resources in docs
  website/src/components/Homepage/SupportedResources.tsx
  website/static/img/OpenKruise.svg
Due: prevent-todo-comments, eslint

chore: added openkruise logo and supported resources in docs
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

feat: improved update operations for cronjobs, daemonsets. scalableResources are only updated when needed
  cmd/admissioncontroller/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/replicas.go
Due: prevent-todo-comments

feat: added some test in replicas_test for boolean replicas
  internal/pkg/values/replicas_test.go
Due: prevent-todo-comments

chore: added nolint for gosec
  cmd/admissioncontroller/main.go
Due: prevent-todo-comments

refactor: avoid race conditions that make admissionHandler tests fail
  internal/api/kubernetes/admission/admissionHandler_test.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

refactor: shorter name, spaces
  internal/api/kubernetes/admission/admissionHandler_test.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

refactor: renamed m to mockclient
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

refactor: admissionHandler tests refactored to avoid race condition
  internal/api/kubernetes/admission/admissionHandler_test.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

refactor: added nolint for admissionHandler test without t.Parallel()
  internal/api/kubernetes/admission/admissionHandler_test.go
Due: prevent-todo-comments

typo: added space
  internal/api/kubernetes/admission/admissionHandler_test.go
Due: prevent-todo-comments

typo: added clarified comment in test
  internal/api/kubernetes/admission/admissionHandler_test.go
Due: prevent-todo-comments

feat: added prettier ignore to faq.mdx page
  .prettierignore
  website/versioned_docs/version-1.3.0/docs/4 - faq.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: added Slack hyperlink
  website/content/docs/4 - faq.mdx
  website/versioned_docs/version-1.3.0/docs/4 - faq.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint
