Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/jonathan-mayer/pre-commit-deadcode
    rev: v0.0.1
    hooks:
      - id: go-deadcode
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

chore: release 1.3.2
  deployments/chart/Chart.yaml
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  website/content/docs/2 - downscaler/1 - configurations/1 - Values.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: indentation
  deployments/chart/values.yaml
Due: prevent-todo-comments

Feat/Add support for custom pod labels in deployment configuration (#415)
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

chore: improved website subheading and visualization
  README.md
  website/src/pages/index.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: improved website subheading and visualization
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

chore: release 1.3.2, minor adjustments to website, helm charts, readme
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

Chore/Release 1.3.2 (#419)
  README.md
  deployments/chart/Chart.yaml
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  website/content/docs/2 - downscaler/1 - configurations/1 - Values.mdx
  website/src/pages/index.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: solving metrics panic on leadership transition
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: downscalerMetrics name
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

chore: run pre-commit
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

typo: renamed metrics
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

typo: renamed initMetrics
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

Fix/Metrics Panic On Leadership Transition (#423)
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

chore: release 1.3.3 to include #423 bug fix
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

Chore/Release 1.3.3 (#424)
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

chore: bumped dependencies for website and pre-commit
  .pre-commit-config.yaml
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

typo: fixed annotationCompliance note block
  website/content/docs/3 - helm-chart/2 - values/21 - annotationsCompliance.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: update libraries to latest bug fix versions, updated go to 1.27.8
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  cmd/admissioncontroller/main.go
  go.mod
  go.sum
Due: prevent-todo-comments

chore: nolint gosec
  cmd/admissioncontroller/main.go
Due: prevent-todo-comments

chore: bumping google.golang.org/grpc to 1.79.3 to solve cve
  go.mod
  go.sum
Due: none

fix(helm): correct MutatingAdmissionPolicy matchConditions CEL expressions
  deployments/chart/templates/mutatingadmissionpolicy.yaml
Due: prevent-todo-comments

feat(scalable): add Strimzi KafkaConnect, KafkaMirrorMaker2, KafkaBridge support
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/strimzi.go
  internal/pkg/scalable/strimzi_test.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: implemented services scaling
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/services_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/replicas.go
  internal/pkg/values/replicas_test.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/2 - values/4 - includedResources.mdx
  website/src/components/Homepage/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add parseServiceFromBytes for NLB and ELB services
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: removed ingress class
  internal/pkg/scalable/ingresses.go
Due: prevent-todo-comments

feat: implementing logic for ingress
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

fix: correct MutatingAdmissionPolicy matchConditions CEL expressions (#433)
  deployments/chart/templates/mutatingadmissionpolicy.yaml
Due: prevent-todo-comments

fix: authorizeGroupsRegex was incorrectly set as authorizeUsersRegex, missing expresssion for userRegex in mutatingadmissionpolicyremoval
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
Due: prevent-todo-comments

fix: test without gosec nolint
  cmd/admissioncontroller/main.go
Due: prevent-todo-comments

fix: test moving nolinter
  cmd/admissioncontroller/main.go
Due: prevent-todo-comments

fix: missing link in blog post, added kube-downscaler tag for seo
  website/blog/2026-03-02-announcing-gokubedownscaler-1-3-0.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint
