Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

prevent-todo-comments:
  name: prevent todo comments
  entry: \/\/ *(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^##### '
  language: pygrep

prevent-overly-nested-hierarchy:
  name: prevent overly nested hierarchy
  entry: '^    - '
  language: pygrep

fix: hpa min replicas, refactored error message
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/scalableResource.go
Due: prevent-todo-comments

added basic implementation of timespan check
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

added test for overlapping timespan check
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

test: changed test to reflect wanted outcome
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

fix: deployments, statefulsets, pdb, hpa, removing unnecessary logs from scaled objects
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/statefulsets.go
Due: prevent-todo-comments

refactor: scaledobjects
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat: improved check for overlapping timespans
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

fix: comments, string conversion
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scalableResource.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

Feat/allow spaces (#25)
  internal/pkg/values/layer.go
  internal/pkg/values/stringlist.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

feat: add more tests
  internal/api/kubernetes/client.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
  internal/pkg/values/util.go
Due: prevent-todo-comments

feat: added benchmark
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

perf: added optimized way for comparing rel rel with same tz
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

fix: comments
  internal/pkg/scalable/scalableResource.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

feat: add other scalable resources
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

fix: add all scalable resources to table of contents
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: added test classes
  internal/pkg/scalable/cronjobs_test.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/deployments_test.go
  internal/pkg/scalable/horizontalpodautoscalers_test.go
  internal/pkg/scalable/jobs_test.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/scaledobjects_test.go
  internal/pkg/scalable/statefulsets_test.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

fix: add more error handling to tests
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/scaledobjects_test.go
  internal/pkg/scalable/statefulsets_test.go
Due: prevent-todo-comments

refactor: remove need for dynamic client
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scalableResource.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/statefulsets.go
Due: prevent-todo-comments

Feat/add helm chart (#22)
  .github/workflows/helm_build.yaml
  .pre-commit-config.yaml
  deployments/chart/.helmignore
  deployments/chart/Chart.yaml
  deployments/chart/README.md
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/clusterrole.yaml
  deployments/chart/templates/configmap.yaml
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/role.yaml
  deployments/chart/templates/serviceaccount.yaml
  deployments/chart/values.yaml
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

refactor: helm chart readme
  deployments/chart/README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

refactor: inLocation function
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

fix: readme
  README.md
  deployments/chart/values.yaml
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

chore: no eg.
  CONTRIBUTING.md
Due: none

chore: remove last eg.
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

chore: actually remove the last eg.
  CONTRIBUTING.md
Due: none

feat: add missing feature documentation
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

fix: rm additional info which could lead to wrong labeling
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

Feat/improved readme (#28)
  .github/ISSUE_TEMPLATE/issue-tempate.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  deployments/chart/README.md
  deployments/chart/values.yaml
  internal/api/kubernetes/client.go
  internal/pkg/values/layer.go
  internal/pkg/values/layer_test.go
  internal/pkg/values/timespan.go
  internal/pkg/values/util.go
Due: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

fix: fixed timezone america to north america
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: add create release pipeline
  .github/workflows/create_release.yaml
Due: none

feat: added check if up & downscale periods overlapping
  internal/pkg/values/layer.go
  internal/pkg/values/layer_test.go
Due: prevent-todo-comments

refactor: mv isTimeTo & -fromSkipped into util.go
  internal/pkg/values/timespan.go
  internal/pkg/values/util.go
Due: prevent-todo-comments

chore: refactor getWeekdayAfter & getWeekdayBefore
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
  internal/pkg/values/util.go
Due: prevent-todo-comments

chore: refactored getWeekdayBefore & after function
  internal/pkg/values/util.go
Due: prevent-todo-comments

feat: implement exclude namespaces and workloads
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

refactor create_release workflow to make automatic release
  .github/workflows/create_release.yaml
  .github/workflows/docker_build.yaml
  .github/workflows/helm_build.yaml
Due: none

feat: add tests
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments

Remove duplicate lines in README.md
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

Remove duplicate lines in README.md (#39)
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: make resourceTypes case-insensitive
  internal/api/kubernetes/client.go
Due: prevent-todo-comments

Path conditions:
  prevent-todo-comments: any of: \.go$
  prevent-too-small-headings: any of: README\.md$
  prevent-overly-nested-hierarchy: any of: README\.md$
