Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.1
    hooks:
      - id: markdownlint-cli2-rules-docker
        args: [--fix]

  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs)$

fix: remove invalid configuration
  .github/dependabot.yml
Due: none

feat: add groups for dependabot updates (#107)
  .github/dependabot.yml
Due: none

Revert "fix: dependabot skip release candidates in gomod"
  .github/dependabot.yml
Due: none

refactor: helm chart for lease role and argument
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/leaserole.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: logic to separate run with and without leader election
  cmd/kubedownscaler/main.go
  internal/pkg/util/config.go
Due: prevent-todo-comments

refactor: helm chart logic and arguments for leader election
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/deployment.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: helm chart comments
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: exiting when namespace couldn't be retrieved
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: helm chart typos
  deployments/chart/templates/leaserole.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: improved log messages and log level
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: getCurrentNamespace now called inside CreateLease function
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/api/kubernetes/util.go
Due: prevent-todo-comments

refactor: merged scanWorkloads into startScanning
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: returning error when namespace can't be retrieved
  internal/api/kubernetes/client.go
Due: prevent-todo-comments

refactor: returning error from createLease function
  internal/api/kubernetes/client.go
Due: prevent-todo-comments

feat: bump golang in go.mod
  go.mod
Due: none

feat: add docker image docs
  website/content/docs/1 - Workflows.mdx
  website/content/docs/2 - Docker Image.mdx
Due: prevent-todo-comments, prevent-too-small-headings

refactor: moved defer cancel, removed log error
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
Due: prevent-todo-comments

fix: broken anchors
  website/content/docs/0 - downscaler/0 - Arguments.mdx
  website/content/docs/0 - downscaler/1 - Environment Variables.mdx
  website/content/docs/0 - downscaler/3 - Runtime Configuration.mdx
  website/content/guides/1 - developing/1 - Website.mdx
  website/content/guides/2 - Migrating from py-kube-downscaler.mdx
  website/docusaurus.config.ts
  website/eslint.config.mjs
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add local search
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments, eslint

feat/implemented errors for values package with test
  internal/pkg/values/errors.go
  internal/pkg/values/errors_test.go
Due: prevent-todo-comments

refactored more errors from timespan.go
  internal/pkg/values/errors.go
  internal/pkg/values/errors_test.go
Due: prevent-todo-comments

updated refactored errors
  internal/pkg/values/layer.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

chore: resolve pr threads
  website/content/docs/0 - downscaler/0 - Arguments.mdx
  website/content/docs/0 - downscaler/1 - Environment Variables.mdx
  website/content/docs/0 - downscaler/2 - Annotations.mdx
  website/content/guides/1 - developing/1 - Website.mdx
  website/docusaurus.config.ts
  website/src/components/CaasAvatar.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: pr threads
  website/content/docs/0 - downscaler/4 - Values.mdx
  website/content/docs/0 - downscaler/5 - Layers.mdx
  website/content/docs/0 - downscaler/6 - types/1 - Duration.mdx
Due: prevent-todo-comments, prevent-too-small-headings

fix: pr threads
  website/content/docs/0 - downscaler/5 - Layers.mdx
  website/content/docs/0 - downscaler/6 - types/3 - Regex List.mdx
  website/content/docs/0 - downscaler/7 - Workload Types.mdx
  website/content/docs/1 - Workflows.mdx
  website/content/docs/2 - Docker Image.mdx
  website/content/guides/1 - developing/0 - Downscaler.mdx
  website/content/guides/1 - developing/1 - Website.mdx
  website/content/guides/1 - developing/3 - Maintaining the Repository.mdx
  website/content/guides/1 - developing/index.mdx
  website/docusaurus.config.ts
  website/static/manifest.json
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: remove footer
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

feat: upgrade docusaurus and tailwind + break some stuff
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/plugins/svgo-config.cts
  website/plugins/tailwind-config.cts
  website/src/css/custom.css
  website/tailwind.config.js
Due: prevent-todo-comments, eslint

chore: remove about page
  website/docusaurus.config.ts
  website/src/components/CaasAvatar.tsx
  website/src/pages/about.mdx
  website/static/img/CaaS-Logo.svg
  website/static/manifest.json
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: md links
  website/content/docs/1 - helm-chart/0 - Components.mdx
  website/content/docs/1 - helm-chart/1 - Permissions.mdx
  website/content/docs/1 - helm-chart/2 - values/1 - image.mdx
  website/content/docs/1 - helm-chart/2 - values/14 - affinity.mdx
  website/content/docs/1 - helm-chart/2 - values/6 - constrainedDownscaler.mdx
  website/content/docs/1 - helm-chart/2 - values/7 - constrainedNamespaces.mdx
Due: prevent-todo-comments, prevent-too-small-headings

fix: some broken stuff + change more stuff + update slack link + a bunch more shi
  website/docusaurus.config.ts
  website/plugins/disable-styling.cts
  website/plugins/tailwind-config.cts
  website/src/components/Basic/Button.tsx
  website/src/components/GithubLabel.tsx
  website/src/components/Homepage/SupportedResources.tsx
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/static/img/Github-white.svg
  website/static/img/Github.svg
  website/static/img/Slack-black.svg
  website/static/img/Slack-white.svg
Due: prevent-todo-comments, eslint

fix: some pr threads
  website/content/docs/0 - downscaler/7 - Workload Types.mdx
  website/content/docs/1 - Workflows.mdx
  website/content/guides/1 - developing/3 - Maintaining the Repository.mdx
Due: prevent-todo-comments, prevent-too-small-headings

fix: another pr thread
  website/content/guides/1 - developing/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings

fix: "small screen mode" switch on same size
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

fix: navbar search
  website/src/css/custom.css
  website/src/theme/Navbar/Search/index.tsx
  website/src/theme/Navbar/Search/styles.module.css
Due: prevent-todo-comments, eslint

fix: navbar logo
  website/docusaurus.config.ts
  website/src/theme/Logo/index.tsx
Due: prevent-todo-comments, eslint

Feat/leader election mechanism using leases (#75)
  cmd/kubedownscaler/main.go
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/leaserole.yaml
  deployments/chart/values.yaml
  internal/api/kubernetes/client.go
  internal/api/kubernetes/util.go
  internal/pkg/util/config.go
Due: prevent-todo-comments

fix: sw to zalando opensource url
  website/src/components/Homepage/SupportedResources.tsx
Due: prevent-todo-comments, eslint

fix: add select none
  website/src/theme/Logo/index.tsx
  website/src/theme/Navbar/Search/index.tsx
Due: prevent-todo-comments, eslint

chore: better syntax
  website/content/docs/0 - downscaler/3 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings

feat: added max-retries-on-conflict support for conflict errors
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
Due: prevent-todo-comments
