Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
  language: node

feat: added permissions to scale autoscalingrunnersets in helpers.tpl
  deployments/chart/templates/_helpers.tpl
Due: none

feat: included autoscalingrunnerset into the homepage resources
  website/src/components/Homepage/SupportedResources.tsx
  website/src/types/components/HomepageFeatures.d.ts
Due: prevent-todo-comments, eslint

fix: typo
  internal/api/kubernetes/client.go
Due: prevent-todo-comments

fix: logos spacing
  website/src/components/Homepage/SupportedResources.tsx
Due: prevent-todo-comments, eslint

chore: added nolint for gosec
  cmd/admissioncontroller/main.go
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
Due: prevent-todo-comments

chore: added a draft for the blog post, updated readme.md
  README.md
  website/blog/2026-02-10-announcing-gokubedownscaler-1-3-0.mdx
  website/blog/authors.yml
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: updated migration guide
  website/content/guides/1 - Migrating from py-kube-downscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: bumped go version, chart and app versions
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  cmd/admissioncontroller/main.go
  deployments/chart/Chart.yaml
  go.mod
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
Due: prevent-todo-comments

refactor: blog post date and readme
  README.md
  website/blog/2026-02-24-announcing-gokubedownscaler-1-3-0.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Fix(website): add /contributing to search index
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

Fix(website): add /contributing to search index (#391)
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

Feat/Add AutoscalingRunnerSet Resource (#368)
  cmd/admissioncontroller/main.go
  deployments/chart/templates/_helpers.tpl
  go.mod
  go.sum
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/autoscalingrunnersets.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/1 - Permissions.mdx
  website/src/components/Homepage/SupportedResources.tsx
  website/src/types/components/HomepageFeatures.d.ts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: modified release date
  website/blog/2026-03-02-announcing-gokubedownscaler-1-3-0.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Chore/Release 1.3.0 (#389)
  README.md
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  deployments/chart/Chart.yaml
  go.mod
  website/blog/2026-03-02-announcing-gokubedownscaler-1-3-0.mdx
  website/blog/authors.yml
  website/content/guides/1 - Migrating from py-kube-downscaler.mdx
  website/package-lock.json
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: remove MTR
  .github/workflows/docker_build.yaml
  .github/workflows/helm_build.yaml
  website/content/contributing/2 - Github Workflows.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chrore: bump chart version to trigger new build
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

chore: remove MTR (#396)
  .github/workflows/docker_build.yaml
  .github/workflows/helm_build.yaml
  deployments/chart/Chart.yaml
  website/content/contributing/2 - Github Workflows.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: improve build speed for arm64
  .github/workflows/docker_build.yaml
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
Due: prevent-todo-comments

chore: improve build speed for arm64 (#404)
  .github/workflows/docker_build.yaml
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
Due: prevent-todo-comments

fix broken keda imports
  CODEOWNERS
  go.mod
  go.sum
Due: none

fix: stage fix
  go.mod
Due: none

fix: keep controller-runtime on 0.22.5 because keda package doesnt support it yet
  go.mod
  go.sum
Due: none

Feat/Prevent Annotations Deploy From Unauthorized Users (#353)
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/0 - Components.mdx
  website/content/docs/3 - helm-chart/2 - values/21 - annotationsCompliance.mdx
  website/content/docs/3 - helm-chart/2 - values/22 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/23 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookPodMonitor.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: duplicated docs ids in helm chart
  website/content/docs/3 - helm-chart/2 - values/22 - metrics.mdx
  website/content/docs/3 - helm-chart/2 - values/23 - podMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/23 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/34 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/35 - webhookControllerPriorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/35 - webhookPodMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/36 - webhookPodMonitor.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: indexing blog for search engine
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

feat: implemented services scaling
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/services_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/replicas.go
  internal/pkg/values/replicas_test.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/2 - values/4 - includedResources.mdx
  website/src/components/Homepage/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add parseServiceFromBytes for NLB and ELB services
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: removed ingress class
  internal/pkg/scalable/ingresses.go
Due: prevent-todo-comments

Feat/Add support for custom pod labels in deployment configuration
  deployments/chart/templates/deployment.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

Feat/Add support for extra environment variables in deployment configuration
  deployments/chart/templates/deployment.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

fix: solve nil pointer dereference on jobs and cronjobs metrics
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

fix: added unit test
  internal/pkg/scalable/helpers_test.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
Due: prevent-todo-comments

feat: improved comments for test
  internal/pkg/scalable/suspendScaledWorkloads_test.go
Due: prevent-todo-comments

Fix/Nil Pointer Dereference On Jobs/CronJobs Metrics (#418)
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/helpers_test.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat: added podLabels and extraEnv to webhook deployment
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: added extraEnv and podLabels to webhook deployment
  deployments/chart/templates/webhookdeployment.yaml
Due: prevent-todo-comments

refactor: removed space
  deployments/chart/values.yaml
Due: prevent-todo-comments

Fix/Duplicate Docs IDs (#412)
  website/content/docs/3 - helm-chart/2 - values/22 - metrics.mdx
  website/content/docs/3 - helm-chart/2 - values/23 - podMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/23 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/34 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/35 - webhookControllerPriorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/35 - webhookPodMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/36 - webhookPodMonitor.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Chore/Indexing Blog For Search Engine (#411)
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$
