Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json|excalidraw)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.5.3
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

Feat/retries on conflict error (#74)
  README.md
  cmd/kubedownscaler/main.go
  docs/troubleshooting.md
  go.mod
  go.sum
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/config.go
Due: prevent-todo-comments, prevent-too-small-headings

chore: pr threads
  .golangci.yaml
  .markdownlint-cli2.yaml
  cmd/kubedownscaler/main_test.go
  website/content/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: avoid parsing namespace scope multiple times
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
Due: prevent-todo-comments

fix: err on missing time annotation
  internal/pkg/values/layer.go
  internal/pkg/values/layer_test.go
Due: prevent-todo-comments

chore: bump deps
  go.mod
  go.sum
Due: none

chore: bump deps (#146)
  go.mod
  go.sum
Due: none

chore: pr threads
  .markdownlint-cli2.yaml
  website/content/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore :(
  website/content/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: rebased with changes from main
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

feat: refactored after rebasing
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/api/kubernetes/namespaceLogger.go
  internal/pkg/values/layer.go
Due: prevent-todo-comments

fix: tweak changes (please review this commit)
  .github/ISSUE_TEMPLATE/issue-template.md
  deployments/chart/templates/configmap.yaml
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/serviceaccount.yaml
Due: prevent-todo-comments, prevent-too-small-headings

fix: rename scope reciever to s
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

chore: add more golangci-lint linters
  .golangci.yaml
  internal/pkg/util/regexList.go
Due: prevent-todo-comments

fix: pullPolicy indentation
  deployments/chart/templates/deployment.yaml
Due: prevent-todo-comments

chore: bump deps
  website/package-lock.json
  website/package.json
  website/plugins/conf-webpack.cts
  website/src/components/Excalidraw/ExcalidrawRenderer.tsx
Due: prevent-todo-comments, eslint

feat: improve error handling and add website validation workflow
  .github/workflows/validate_website_build.yaml
  website/plugins/global-ref-plugin.cts
  website/plugins/repo-ref-plugin.cts
Due: prevent-todo-comments, eslint

fix(docs): pull policy
  website/content/docs/1 - helm-chart/2 - values/1 - image.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix(docs): ' - Jan
  website/content/docs/1 - helm-chart/2 - values/1 - image.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: duplicate pre commit run in pull request
  .github/workflows/pre_commit.yaml
Due: prevent-todo-comments

fix: stop forcing time annotation label
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

chore: release v1.2.0
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

feat: add config reload
  deployments/chart/templates/deployment.yaml
  deployments/chart/values.yaml
  website/content/docs/1 - helm-chart/2 - values/16 - excludedNamespaces.mdx
  website/content/docs/1 - helm-chart/2 - values/17 - configMap.mdx
  website/content/docs/1 - helm-chart/2 - values/18 - forceRestartOnConfigChange.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: add missing docs for leaserole.yaml
  website/content/docs/1 - helm-chart/0 - Components.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: stop forcing time annotation label (#144)
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

fix: make check for release run on forks
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

refactor: workflows to use workflow call instead of dispatch
  .github/workflows/check_version.yaml
  .github/workflows/create_dev_build.yaml
  .github/workflows/create_release.yaml
  .github/workflows/docker_build.yaml
  .github/workflows/helm_build.yaml
Due: prevent-todo-comments

chore: adjust workflow docs
  website/content/docs/2 - Workflows.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Feat/add config reload (#160)
  deployments/chart/templates/deployment.yaml
  deployments/chart/values.yaml
  website/content/docs/1 - helm-chart/0 - Components.mdx
  website/content/docs/1 - helm-chart/2 - values/16 - excludedNamespaces.mdx
  website/content/docs/1 - helm-chart/2 - values/17 - configMap.mdx
  website/content/docs/1 - helm-chart/2 - values/18 - forceRestartOnConfigChange.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: secrets
  .github/workflows/check_version.yaml
  .github/workflows/create_dev_build.yaml
  .github/workflows/helm_build.yaml
Due: prevent-todo-comments

Refactor/workflows (#161)
  .github/workflows/check_for_release.yaml
  .github/workflows/check_version.yaml
  .github/workflows/create_dev_build.yaml
  .github/workflows/create_release.yaml
  .github/workflows/docker_build.yaml
  .github/workflows/helm_build.yaml
  website/content/docs/2 - Workflows.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: wrong warning message
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

chore: release v1.2.0 (#159)
  .github/workflows/check_for_release.yaml
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

chore: fix package name
  .github/workflows/docker_build.yaml
Due: prevent-todo-comments

feat: add prune yaml
  .github/workflows/prune.yaml
Due: prevent-todo-comments

chore: change name
  .github/workflows/prune.yaml
Due: prevent-todo-comments

chore: fix package name (#164)
  .github/workflows/docker_build.yaml
  .github/workflows/prune.yaml
Due: prevent-todo-comments

chore: add cosign prune action
  .github/workflows/prune.yaml
Due: prevent-todo-comments
