Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
  language: node

refactor: simplified timezoneValue assignment workflow
  internal/pkg/util/timezoneValue.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

test: add unit tests for dayTime string formatting
  internal/pkg/values/dayTime_test.go
Due: prevent-todo-comments

fix: default timezone not correctly set (#503)
  internal/pkg/values/dayTime.go
  internal/pkg/values/dayTime_test.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scopeParser_test.go
Due: prevent-todo-comments

fix: update hierarchy diagram styles and improve dependency versions for security
  website/content/docs/2 - downscaler/0 - scopes/templates/_hierarchy-diagram.mdx
  website/package-lock.json
  website/package.json
  website/src/css/custom.css
  website/versioned_docs/version-1.3.0/docs/2 - downscaler/0 - scopes/templates/_hierarchy-diagram.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: remove unnecessary packages
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

chore: regenerate lock
  website/package-lock.json
Due: prevent-todo-comments

fix: update dependencies to address security vulnerabilities in merma… (#505)
  website/content/docs/2 - downscaler/0 - scopes/templates/_hierarchy-diagram.mdx
  website/package-lock.json
  website/package.json
  website/src/css/custom.css
  website/versioned_docs/version-1.3.0/docs/2 - downscaler/0 - scopes/templates/_hierarchy-diagram.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: getChildren workflow not working because of a missing function in suspendedScaleWorkload
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
Due: prevent-todo-comments

fix: refactored helpers.tpl to give permissions to read jobs when "cronjobs" is includedResources and "jobs" is not
  deployments/chart/templates/_helpers.tpl
Due: none

feat: ignore "exclude-until" values in the past from being set in the scope
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

refactor: unit tests and getExcluded logic
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

chore: running ci
  internal/pkg/values/scope.go
Due: prevent-todo-comments

refactor: implemented codereview suggestion in GetExcluded
  internal/pkg/values/scope.go
Due: prevent-todo-comments

refactor: excludeUntil scope is parsed even if it's expired
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

fix: GetChildrenWorkloads behavior logic (#507)
  cmd/kubedownscaler/main.go
  deployments/chart/templates/_helpers.tpl
  internal/api/kubernetes/client.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
Due: prevent-todo-comments

feat: ignore stale downscaler/exclude-until annotations when setting scopes (#483)
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

chore: bumped go dependencies, website dependencies, docker base images
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  go.mod
  go.sum
Due: none

feat: further refactoring check_for_release action for hardening
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

chore: bumped app version
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

typo: removed space from dockerfile
  build/admissioncontroller/Dockerfile
Due: none

refactor: check for release step to perform only a single check
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

feat: added values.schema.json to helm chart
  deployments/chart/values.schema.json
Due: prevent-todo-comments

feat: added llms.txt for seo and ai models crawling
  website/static/llms.txt
Due: none

refactor: additional helm chart fixes and simplifications
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/podmonitor.yaml
  deployments/chart/templates/webhookclusterrole.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/templates/webhookpodmonitor.yaml
  deployments/chart/templates/webhookrole.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: helm chart fixes and simplifications
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/podmonitor.yaml
  deployments/chart/templates/webhookclusterrole.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/templates/webhookpodmonitor.yaml
  deployments/chart/templates/webhookrole.yaml
  deployments/chart/templates/webhookserviceaccount.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: added backport dedicated action with backportrc.json file
  .backportrc.json
  .github/workflows/backport.yaml
Due: prevent-todo-comments

feat: added release branching strategy and backport for easy cherry picks
  .github/workflows/create_release.yaml
  CONTRIBUTING.md
  website/content/contributing/1 - Maintaining the Repository.mdx
  website/content/contributing/2 - Github Workflows.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: typo on create_release action
  .github/workflows/create_release.yaml
Due: prevent-todo-comments

refactor: supported resources
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, eslint

fix: backport behavior
  .backportrc.json
  .github/workflows/backport.yaml
  .github/workflows/create_release.yaml
Due: prevent-todo-comments

feat: enhanced chart.yaml
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

refactor: github actions for backport, check_for_release and helm_build
  .github/workflows/backport.yaml
  .github/workflows/check_for_release.yaml
  .github/workflows/helm_build.yaml
Due: prevent-todo-comments

refactor: typo on values.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: docs
  website/content/contributing/0 - developing/0 - Downscaler.mdx
  website/content/contributing/2 - Github Workflows.mdx
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/2 - downscaler/4 - Metrics.mdx
  website/content/docs/4 - faq.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/1 - advanced-guides/2 - DNS-Aware Load Balancer Scaling.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$
