Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json|excalidraw)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.5.3
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

Feat/scale workload only if its ownerReference is among includedResources (#171)
  cmd/kubedownscaler/errors.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/dayTime.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/timespan.go
  internal/pkg/values/triStateBool.go
Due: prevent-todo-comments

feat: added explaination for --scale-children argument
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: adjusted section for scale children
  website/content/docs/1 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/4 - Workload Scope.mdx
  website/content/docs/1 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
  website/content/docs/1 - downscaler/1 - configurations/1 - Values.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

docs: update readme wording on offline copy for blog
  README.md
Due: prevent-todo-comments, prevent-too-small-headings

feat: adjusted --scale-children reference inside cli scope
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added logic to scale pdb with percentage
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/util.go
Due: prevent-todo-comments

feat: renamed get functions for maxUnavailable and minAvailable
  internal/pkg/scalable/poddisruptionbudgets.go
Due: prevent-todo-comments

feat: cleaned and improved logic to handle different replica types
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/helpers_test.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/replicaCount.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/util.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

feat: improved logics to handle different replica types
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/replicaCount.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/errors.go
  internal/pkg/values/replicas.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

feat: minor
  internal/pkg/values/replicas.go
Due: prevent-todo-comments

chore: add replicas to ireturn allow list
  .golangci.yaml
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/util.go
  internal/pkg/values/replicas.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

feat: improved Replicas interface and implementations, changed type to getReplicas methods, changed replicaScaled tests structure
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
  internal/pkg/values/replicas.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

feat: added test class for replicas.go
  internal/pkg/values/replicas_test.go
Due: prevent-todo-comments

refactor: test classes, errors, scaledobject
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/values/errors.go
  internal/pkg/values/replicas.go
  internal/pkg/values/replicas_test.go
Due: prevent-todo-comments

feat: added docs for pdb with percentage values
  website/content/docs/1 - downscaler/4 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added replicas type page, refactored cli, namespace scopes, values and workload types page
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/1 - downscaler/1 - configurations/1 - Values.mdx
  website/content/docs/1 - downscaler/2 - types/4 - Replicas.mdx
  website/content/docs/1 - downscaler/4 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: semantics
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/1 - downscaler/1 - configurations/1 - Values.mdx
  website/content/docs/1 - downscaler/2 - types/4 - Replicas.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: workload types
  website/content/docs/1 - downscaler/4 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Feat/scale podDisruptionBudgets with percentage values (#222)
  .golangci.yaml
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/helpers_test.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/util.go
  internal/pkg/values/errors.go
  internal/pkg/values/replicas.go
  internal/pkg/values/replicas_test.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

fix: failing test website build
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add more info on incompatibilities
  website/content/docs/1 - downscaler/1 - configurations/1 - Values.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: add samuel-esp' email to authors.yml
  website/blog/authors.yml
Due: none

fix: security vulnerability issue template name not being unique
  .github/ISSUE_TEMPLATE/5-security-vulnerability.md
Due: prevent-todo-comments, prevent-too-small-headings

fix: security vulnerability issue template name not being unique (#239)
  .github/ISSUE_TEMPLATE/5-security-vulnerability.md
Due: prevent-todo-comments, prevent-too-small-headings

feat: add deadcode check
  .pre-commit-config.yaml
  internal/pkg/util/int32Value.go
Due: prevent-todo-comments

feat: add deadcode check (#251)
  .pre-commit-config.yaml
  internal/pkg/util/int32Value.go
Due: prevent-todo-comments

fix: pre commit issues after updating linters
  .golangci.yaml
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/values/replicas.go
Due: prevent-todo-comments

fix: pre commit issues after updating linters (#265)
  .golangci.yaml
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/values/replicas.go
Due: prevent-todo-comments

Revert "chore: automatically push pre-commit changes"
  .pre-commit-config.yaml
Due: prevent-todo-comments

feat: implemented prometheus metrics for downscaled, upscaled,errors, excluded, cycle duration, number of executions
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  go.mod
  internal/pkg/metrics/metrics.go
  internal/pkg/metrics/namespaceMetricsHolder.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

feat: added saved cpu and memory requests metrics, dry run metrics
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/pkg/metrics/metrics.go
  internal/pkg/metrics/namespaceMetricsHolder.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/config.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

feat: added metrics argument, added service, exposed port inside the deployment in helm chart
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/service.yaml
  deployments/chart/values.yaml
  internal/pkg/metrics/namespaceMetricsHolder.go
Due: prevent-todo-comments

feat: added documentation for metrics
  deployments/chart/values.yaml
  website/content/docs/1 - downscaler/4 - Metrics.mdx
  website/content/docs/1 - downscaler/index.mdx
  website/content/docs/2 - helm-chart/0 - Components.mdx
  website/content/docs/2 - helm-chart/2 - values/19 - metrics.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: added reference to constrained installation and cluster-wide installation into the installation doc
  website/content/guides/0 - getting-started/0 - Installation.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Update website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: missing description for cluster-wide installation
  website/content/guides/0 - getting-started/0 - Installation.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Refactor/installation docs (#275)
  website/content/guides/0 - getting-started/0 - Installation.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added currentNamespaceToMetrics init inside FilterExcluded
  cmd/kubedownscaler/main.go
  internal/pkg/metrics/namespaceMetricsHolder.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

fix: compute saved memory and cpu logic
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
Due: prevent-todo-comments
