Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
  language: node

feat: added CNAME for github pages custom domain
  website/static/CNAME
Due: none

refactor: added nolint for admissionHandler test without t.Parallel()
  internal/api/kubernetes/admission/admissionHandler_test.go
Due: prevent-todo-comments

refactor: renamed m to mockclient
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

style: cards for supported resources on mobile
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, eslint

fix: vulnerabilities in package.json
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

style: mobile adjustments, font colors
  website/src/components/Homepage/FurtherCustomization/styles.module.css
  website/src/components/Homepage/HowItWorks/styles.module.css
  website/src/components/Homepage/KubeDownscalerFeatures/index.tsx
  website/src/components/Homepage/KubeDownscalerFeatures/styles.module.css
  website/src/css/custom.css
Due: prevent-todo-comments, eslint

typo: fixed third person on question
  website/src/components/Homepage/FurtherCustomization/index.tsx
Due: prevent-todo-comments, eslint

feat: index page refactoring for open graph, json+ld, animations
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

style: adjusted elements for mobile, removed terminal animations for mobile, made announcement bar smaller for mobile
  website/docusaurus.config.ts
  website/src/components/Homepage/HowItWorks/index.tsx
  website/src/css/custom.css
Due: prevent-todo-comments, eslint

chore: added Slack hyperlink
  website/content/docs/4 - faq.mdx
  website/versioned_docs/version-1.3.0/docs/4 - faq.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: reverted faqs
  website/content/docs/4 - faq.mdx
  website/versioned_docs/version-1.3.0/docs/4 - faq.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

typo: added space
  internal/api/kubernetes/admission/admissionHandler_test.go
Due: prevent-todo-comments

refactor: shorter name, spaces
  internal/api/kubernetes/admission/admissionHandler_test.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

fix: exclude node modules
  .pre-commit-config.yaml
Due: prevent-todo-comments

feat: better display of resources for mobile
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, eslint

refactor: admissionHandler tests refactored to avoid race condition
  internal/api/kubernetes/admission/admissionHandler_test.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

fix: relative urls in manifest.json
  website/static/manifest.json
Due: prevent-todo-comments

refactor: avoid race conditions that make admissionHandler tests fail
  internal/api/kubernetes/admission/admissionHandler_test.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

feat: seo json+ld, reduced animations when users don't want them, addded aria-labels, canonical urls, preloaders, enforce only 1 h1 element on homepage
  website/content/docs/4 - faq.mdx
  website/docusaurus.config.ts
  website/src/components/Homepage/FurtherCustomization/styles.module.css
  website/src/components/Homepage/HowItWorks/styles.module.css
  website/src/components/Homepage/KubeDownscalerFeatures/styles.module.css
  website/src/components/Homepage/ProjectDescription/styles.module.css
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
  website/src/components/Homepage/SupportedResources/styles.module.css
  website/src/css/custom.css
  website/src/pages/adopters.tsx
  website/static/img/Rss-black.svg
  website/static/img/Rss-white.svg
  website/versioned_docs/version-1.3.0/docs/4 - faq.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

typo: added clarified comment in test
  internal/api/kubernetes/admission/admissionHandler_test.go
Due: prevent-todo-comments

feat: added prettier ignore to faq.mdx page
  .prettierignore
  website/versioned_docs/version-1.3.0/docs/4 - faq.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: landing pages new features to attract users
  cmd/admissioncontroller/main.go
  website/src/components/Homepage/FurtherCustomization/index.tsx
  website/src/components/Homepage/FurtherCustomization/styles.module.css
  website/src/components/Homepage/HowItWorks/index.tsx
  website/src/components/Homepage/HowItWorks/styles.module.css
  website/src/components/Homepage/InstallationShowcase/index.tsx
  website/src/components/Homepage/InstallationShowcase/styles.module.css
  website/src/components/Homepage/KubeDownscalerFeatures/index.tsx
  website/src/components/Homepage/KubeDownscalerFeatures/styles.module.css
  website/src/components/Homepage/ProjectDescription/styles.module.css
  website/src/css/custom.css
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

fix: typos
  website/blog/2025-05-05-why-we-built-the-gokubedownscaler.mdx
  website/content/docs/1 - components/index.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/docusaurus.config.ts
  website/src/components/Homepage/HowItWorks/index.tsx
  website/src/util/color.ts
  website/versioned_docs/version-1.3.0/docs/1 - components/index.mdx
  website/versioned_docs/version-1.3.0/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/0 - Installation.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: improved faqs
  website/content/docs/4 - faq.mdx
  website/versioned_docs/version-1.3.0/docs/4 - faq.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: suggested changes
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
  website/src/components/Homepage/HowItWorks/index.tsx
  website/src/pages/index.tsx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/0 - Installation.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: update packages and remove not needed roughjs package
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

feat: improved json+ld
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

feat: updated dockerfile and go.mod for go 1.25.10. updated repo readme and chart readme
  README.md
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  deployments/chart/README.md
  go.mod
Due: prevent-todo-comments, prevent-too-small-headings

refactor: getting started guides
  website/content/docs/2 - downscaler/0 - scopes/index.mdx
  website/content/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
  website/content/guides/0 - getting-started/2 - Scaling Down for Holidays.mdx
  website/content/guides/0 - getting-started/3 - On Demand Startup.mdx
  website/content/guides/0 - getting-started/index.mdx
  website/content/guides/1 - advanced-guides/1 - Concurrency.mdx
  website/content/guides/1 - advanced-guides/index.mdx
  website/content/guides/2 - Migrating from py-kube-downscaler.mdx
  website/versioned_docs/version-1.3.0/docs/2 - downscaler/0 - scopes/index.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/2 - Scaling Down for Holidays.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/3 - On Demand Startup.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/index.mdx
  website/versioned_docs/version-1.3.0/guides/1 - advanced-guides/1 - Concurrency.mdx
  website/versioned_docs/version-1.3.0/guides/1 - advanced-guides/index.mdx
  website/versioned_docs/version-1.3.0/guides/2 - Migrating from py-kube-downscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: pre-commit findings
  internal/api/kubernetes/admission/admissionHandler.go
  internal/pkg/metrics/admissionMetrics.go
  internal/pkg/metrics/metrics.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
Due: prevent-todo-comments

typo: fix comma
  README.md
  website/content/docs/4 - faq.mdx
  website/src/components/Homepage/KubeDownscalerFeatures/index.tsx
  website/src/css/custom.css
  website/versioned_docs/version-1.3.0/docs/4 - faq.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added json+ld for basic howtos
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
  website/docusaurus.config.ts
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/0 - Installation.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: json+ld for basic howtos
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/0 - Installation.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: updated readme with new website link
  README.md
Due: prevent-todo-comments, prevent-too-small-headings

style: homepage styles slightly improved with value proposition
  website/src/components/Homepage/InstallationShowcase/index.tsx
  website/src/components/Homepage/ProjectDescription/index.tsx
  website/src/components/Homepage/ProjectDescription/styles.module.css
Due: prevent-todo-comments, eslint

fix: license on json+ld, mobile carousel clipping animation
  website/docusaurus.config.ts
  website/src/components/Homepage/InstallationShowcase/styles.module.css
  website/src/components/Homepage/KubeDownscalerFeatures/styles.module.css
Due: prevent-todo-comments, eslint

style: callout style
  website/src/components/Homepage/ProjectDescription/styles.module.css
Due: none

fix: update golangci linter and add goconst to test exclusion
  .golangci.yaml
Due: prevent-todo-comments

fix: typos
  website/blog/2025-05-05-why-we-built-the-gokubedownscaler.mdx
  website/blog/2026-03-02-announcing-gokubedownscaler-1-3-0.mdx
  website/content/docs/1 - components/index.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
  website/content/guides/0 - getting-started/3 - On Demand Startup.mdx
  website/content/guides/0 - getting-started/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$
