Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, prevent-overly-nested-hierarchy

prevent-todo-comments:
  name: prevent todo comments
  entry: \/\/ *(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^##### '
  language: pygrep

prevent-overly-nested-hierarchy:
  name: prevent overly nested hierarchy
  entry: '^    - '
  language: pygrep

feat: added prettier check for markdown files
  .github/ISSUE_TEMPLATE/issue-tempate.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

fix: rm github unsupported stying
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: examples and timespan
  .pre-commit-config.yaml
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

fix: callout Info to Note
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: add prevent-invalid-alert-types pre commit check
  .pre-commit-config.yaml
Due: none

refactor: mv down concepts
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: annotations, arguments, env variables
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: differences to py-kube-downscaler
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

refactor: table of contents
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat edge cases
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: test if non-inline styles work
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

revert: be6dfc no they don't
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: basic migration
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

fix: comment on nested hierarchy check
  .pre-commit-config.yaml
Due: none

fix: nested hierarchy only match multiples of 2
  .pre-commit-config.yaml
Due: none

refactor: use MatchString instead of Match
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

feat: add slack workspace invite
  README.md
Due: prevent-too-small-headings, prevent-overly-nested-hierarchy

feat: added regex list
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/values/regexList.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

feat: matching label
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/scalableResource.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat: append to list
  internal/pkg/values/regexList.go
  internal/pkg/values/stringlist.go
Due: prevent-todo-comments

refactor: reduce the things the GetWorkload funciton does
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat: grace period
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/api/kubernetes/resourceLogger.go
  internal/pkg/scalable/scalableResource.go
  internal/pkg/scalable/util.go
  internal/pkg/values/layer.go
  internal/pkg/values/util.go
Due: prevent-todo-comments

feat: slowed rate limiting
  internal/api/kubernetes/client.go
  internal/api/kubernetes/resourceLogger.go
Due: prevent-todo-comments

refactor: mv timeAnnotation out of layer
  cmd/kubedownscaler/main.go
  internal/pkg/values/layer.go
Due: prevent-todo-comments

added support for statefulsets, lint correction
  internal/pkg/scalable/scalableResource.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

added support for jobs and cronjobs
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/scalableResource.go
  internal/pkg/scalable/statefulsets.go
Due: prevent-todo-comments

added checks to jobs logic, refactored names
  internal/api/kubernetes/client.go
  internal/pkg/scalable/scalableResource.go
Due: prevent-todo-comments

added support for daemonsets
  internal/api/kubernetes/client.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/scalableResource.go
Due: prevent-todo-comments

added support for poddisruptionbudgets
  internal/api/kubernetes/client.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scalableResource.go
Due: prevent-todo-comments

added support for horizontalpodautoscalers
  internal/api/kubernetes/client.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scalableResource.go
Due: prevent-todo-comments

added comments
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scalableResource.go
Due: prevent-todo-comments

added support for keda
  go.mod
  go.sum
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scalableResource.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/statefulsets.go
Due: prevent-todo-comments

feat: add scaledibject, horizontalpodautoscalers, poddisruptionbudgets, statefulsets, daemonsets, jobs and cronjobs
  go.mod
  go.sum
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scalableResource.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

fix: dependencies
  go.mod
  go.sum
Due: none

fix: build failing
  go.mod
  go.sum
Due: none

feat: added some additional best practice examples
  CONTRIBUTING.md
Due: none

fix: upscaling, downscaling functions now are private. resources are private. removed boilerplate code inside keda scaled object. fixed lint problems (sha1 and int32 overflow)
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scalableResource.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/statefulsets.go
Due: prevent-todo-comments

fix: removed commented functions
  internal/pkg/values/util.go
Due: prevent-todo-comments

fix: refactoring pointers methods, simplified logic in scale up and scale down function. created a new bound on scaling target value error
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/scalableResource.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/statefulsets.go
Due: prevent-todo-comments

Path conditions:
  prevent-todo-comments: any of: \.go$
  prevent-too-small-headings: any of: README\.md$
  prevent-overly-nested-hierarchy: any of: README\.md$
