Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs}"
  language: node

feat: allow boolean values in timespans
  internal/pkg/values/layer.go
  internal/pkg/values/layer_test.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

Update configmap fields
  deployments/chart/templates/configmap.yaml
Due: prevent-todo-comments

Refactor/added release namespace in the objects of the helm chart (#130)
  .pre-commit-config.yaml
  deployments/chart/templates/configmap.yaml
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/leaserole.yaml
  deployments/chart/templates/serviceaccount.yaml
  internal/pkg/util/config.go
Due: prevent-todo-comments

fix: exclude workload
  internal/pkg/values/layer.go
  internal/pkg/values/layerParser.go
  internal/pkg/values/triStateBool.go
Due: prevent-todo-comments

chore: add test
  internal/pkg/values/layer_test.go
Due: prevent-todo-comments

fix: this might be unintended behaviour free
  internal/pkg/values/layer.go
  internal/pkg/values/layer_test.go
Due: prevent-todo-comments

feat: update docs to go into more detail and concepts
  website/content/docs/0 - downscaler/4 - Values.mdx
  website/content/docs/0 - downscaler/5 - Layers.mdx
  website/content/docs/0 - downscaler/6 - types/0 - Timespans.mdx
  website/plugins/global-ref-plugin.cts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: duplicate use of word to mean multiple things
  website/content/docs/0 - downscaler/0 - Arguments.mdx
  website/content/docs/0 - downscaler/6 - types/0 - Timespans.mdx
Due: prevent-todo-comments, prevent-too-small-headings

chore: bump deps (finally)
  .golangci.yaml
  go.mod
  go.sum
  internal/pkg/scalable/prometheuses.go
Due: prevent-todo-comments

fix: typo
  internal/pkg/values/layer_test.go
Due: prevent-todo-comments

feat: improve value docs with groups and update boolean type to timespans
  website/content/docs/0 - downscaler/4 - Values.mdx
Due: prevent-todo-comments, prevent-too-small-headings

feat: added errors for values package
  internal/pkg/values/errors.go
  internal/pkg/values/errors_test.go
  internal/pkg/values/layer.go
Due: prevent-todo-comments

chore: add changes to migrating
  website/content/guides/2 - Migrating from py-kube-downscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings

feat: added new errors in util package
  internal/pkg/util/config.go
  internal/pkg/util/durationValue.go
  internal/pkg/util/env.go
  internal/pkg/util/errors.go
  internal/pkg/util/int32Value.go
  internal/pkg/util/regexList.go
Due: prevent-todo-comments

feat: added new errord handling in package scalable
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: added new error handling in package kubernetes
  internal/api/kubernetes/client.go
  internal/api/kubernetes/errors.go
Due: prevent-todo-comments

feat: added new error handling to main.go
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

docs: added parallelism page
  website/content/docs/3 - Parallelism.mdx
Due: prevent-todo-comments, prevent-too-small-headings

chore: change "layers" to "scopes"
  website/content/docs/0 - downscaler/0 - Arguments.mdx
  website/content/docs/0 - downscaler/1 - Environment Variables.mdx
  website/content/docs/0 - downscaler/2 - Annotations.mdx
  website/content/docs/0 - downscaler/4 - Values.mdx
  website/content/docs/0 - downscaler/5 - Layers.mdx
  website/content/docs/0 - downscaler/5 - Scopes.mdx
  website/content/docs/0 - downscaler/6 - types/0 - Timespans.mdx
  website/content/docs/0 - downscaler/assets/layer-diagram.png
  website/content/docs/0 - downscaler/assets/scope-diagram.excalidraw
  website/content/docs/0 - downscaler/assets/scope-diagram.png
  website/content/docs/1 - helm-chart/2 - values/2 - arguments.mdx
  website/content/guides/2 - Migrating from py-kube-downscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings

feat: auto generate scope diagram from .excalidraw file
  website/content/docs/0 - downscaler/5 - Scopes.mdx
  website/content/docs/0 - downscaler/assets/scope-diagram.png
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/plugins/conf-webpack.cts
  website/src/components/Excalidraw.tsx
  website/src/types/components/GithubLabel.d.ts
  website/src/types/components/common.d.ts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: disable end of file fixer for json without comments
  .pre-commit-config.yaml
  website/content/docs/0 - downscaler/assets/scope-diagram.excalidraw
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

fix: now actually
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  website/content/docs/0 - downscaler/assets/scope-diagram.excalidraw
  website/package-lock.json
Due: prevent-todo-comments

feat: add version tag step
  .github/workflows/docker_build.yaml
Due: prevent-todo-comments

refactor: parallelism page, helm value for downscaler cpu limit
  deployments/chart/values.yaml
  website/content/docs/3 - Parallelism.mdx
  website/content/guides/0 - getting-started/2 - Parallelism.mdx
Due: prevent-todo-comments, prevent-too-small-headings

refactor: docs spaces/newline
  website/content/guides/0 - getting-started/2 - Parallelism.mdx
Due: prevent-todo-comments, prevent-too-small-headings

refactor: docs linter
  website/content/guides/0 - getting-started/2 - Parallelism.mdx
Due: prevent-todo-comments, prevent-too-small-headings

feat: rename to scopes in go files
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/pkg/values/layer.go
  internal/pkg/values/layerParser.go
  internal/pkg/values/layer_test.go
Due: prevent-todo-comments

feat: add assets and additional components to website guide
  .markdownlint-cli2.yaml
  website/content/guides/1 - developing/1 - Website.mdx
  website/content/guides/1 - developing/assets/example.excalidraw
  website/src/components/Excalidraw.tsx
  website/src/types/components/common.d.ts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: build failing
  .markdownlint-cli2.yaml
  website/content/docs/0 - downscaler/5 - Scopes.mdx
  website/content/docs/1 - helm-chart/2 - values/1 - image.mdx
  website/content/guides/1 - developing/1 - Website.mdx
  website/src/components/Excalidraw/Excalidraw.tsx
  website/src/components/Excalidraw/ExcalidrawRenderer.tsx
  website/src/types/components/common.d.ts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: a to an
  internal/pkg/values/layer.go
Due: prevent-todo-comments

chore: pr threads
  internal/pkg/values/layer.go
Due: prevent-todo-comments

chore: pr threads
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

chore: pr threads
  website/content/docs/0 - downscaler/4 - Values.mdx
  website/content/guides/1 - developing/1 - Website.mdx
Due: prevent-todo-comments, prevent-too-small-headings

fix: pr threads
  website/content/docs/0 - downscaler/4 - Values.mdx
  website/content/guides/1 - developing/1 - Website.mdx
Due: prevent-todo-comments, prevent-too-small-headings

Refactor/timespans and layer defaults (#118)
  .golangci.yaml
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/pkg/util/config.go
  internal/pkg/values/dayTime.go
  internal/pkg/values/layer.go
  internal/pkg/values/layer_test.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

fix(docs): pr threads
  website/content/docs/0 - downscaler/4 - Values.mdx
Due: prevent-todo-comments, prevent-too-small-headings

Feat/improve documentation on order of arguments (#134)
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
  website/content/docs/0 - downscaler/0 - Arguments.mdx
  website/content/docs/0 - downscaler/1 - Environment Variables.mdx
  website/content/docs/0 - downscaler/2 - Annotations.mdx
  website/content/docs/0 - downscaler/4 - Values.mdx
  website/content/docs/0 - downscaler/5 - Layers.mdx
  website/content/docs/0 - downscaler/5 - Scopes.mdx
  website/content/docs/0 - downscaler/6 - types/0 - Timespans.mdx
  website/content/docs/0 - downscaler/assets/layer-diagram.png
  website/content/docs/0 - downscaler/assets/scope-diagram.excalidraw
  website/content/docs/1 - helm-chart/2 - values/1 - image.mdx
  website/content/docs/1 - helm-chart/2 - values/2 - arguments.mdx
  website/content/guides/1 - developing/1 - Website.mdx
  website/content/guides/1 - developing/assets/example.excalidraw
  website/content/guides/2 - Migrating from py-kube-downscaler.mdx
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/plugins/conf-webpack.cts
  website/plugins/global-ref-plugin.cts
  website/src/components/Excalidraw/Excalidraw.tsx
  website/src/components/Excalidraw/ExcalidrawRenderer.tsx
  website/src/types/components/GithubLabel.d.ts
  website/src/types/components/common.d.ts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Feat/allow timespans in force up and downtime + fix everything (#132)
  .golangci.yaml
  go.mod
  go.sum
  internal/pkg/scalable/prometheuses.go
  internal/pkg/values/layer.go
  internal/pkg/values/layerParser.go
  internal/pkg/values/layer_test.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
  internal/pkg/values/triStateBool.go
Due: prevent-todo-comments

feat: bump dependencies
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

fix: add empty line for admonissions
  website/content/docs/1 - helm-chart/1 - Permissions.mdx
  website/content/docs/1 - helm-chart/2 - values/0 - replicaCount.mdx
  website/content/docs/1 - helm-chart/2 - values/1 - image.mdx
  website/content/docs/1 - helm-chart/2 - values/10 - securityContext.mdx
  website/content/docs/1 - helm-chart/2 - values/11 - resources.mdx
  website/content/docs/1 - helm-chart/2 - values/12 - nodeSelector.mdx
  website/content/docs/1 - helm-chart/2 - values/13 - tolerations.mdx
  website/content/docs/1 - helm-chart/2 - values/14 - affinity.mdx
  website/content/docs/1 - helm-chart/2 - values/15 - excludedNamespaces.mdx
  website/content/docs/1 - helm-chart/2 - values/16 - configMap.mdx
  website/content/docs/1 - helm-chart/2 - values/2 - arguments.mdx
  website/content/docs/1 - helm-chart/2 - values/3 - includedResources.mdx
  website/content/docs/1 - helm-chart/2 - values/4 - fullnameOverride.mdx
  website/content/docs/1 - helm-chart/2 - values/5 - nameOverride.mdx
  website/content/docs/1 - helm-chart/2 - values/6 - constrainedDownscaler.mdx
  website/content/docs/1 - helm-chart/2 - values/7 - constrainedNamespaces.mdx
  website/content/docs/1 - helm-chart/2 - values/8 - serviceAccount.mdx
  website/content/docs/1 - helm-chart/2 - values/9 - podSecurityContext.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/0 - getting-started/1 - Basic Night Time Saving.mdx
Due: prevent-todo-comments, prevent-too-small-headings

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs)$
