Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json|excalidraw)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.5.3
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

feat: refined ownerReference implementation
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: excluding pods with ownerReference kind present inside includeResources
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments

refactor: check kind inside includedResources
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

refactor: nolint message
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

refactor: cleaned functions from previous refactoring
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments

feat: introduced annotations and logic to optionally parse and scale children workloads
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

feat: not handling OptimisticLockError inside scaleChildrenWorkloads
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/cronjobs.go
Due: prevent-todo-comments

feat: typo
  internal/api/kubernetes/client.go
Due: prevent-todo-comments

feat: add comments to some functions in main
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: improved logic and behavior for ownerReference, scaling and children scaling
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/dayTime.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/timespan.go
  internal/pkg/values/triStateBool.go
Due: prevent-todo-comments

refactor: linter
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

refactor: error message
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: deleted comments, refactored comments, improved logic
  cmd/kubedownscaler/main.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

feat: added missing log and refactored for custom error handling
  cmd/kubedownscaler/errors.go
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

chore: make slight syntax adjustments
  website/content/contributing/0 - developing/1 - Website.mdx
  website/content/contributing/1 - Github Workflows.mdx
  website/content/docs/0 - Introduction.mdx
  website/content/docs/0 - architecture/0 - Architecture.mdx
  website/content/docs/1 - downscaler/0 - scopes/0 - Default Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/1 - Env Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/4 - Workload Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/index.mdx
  website/content/docs/1 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
  website/content/docs/1 - downscaler/1 - configurations/1 - Values.mdx
  website/content/docs/1 - downscaler/1 - configurations/index.mdx
  website/content/docs/1 - downscaler/2 - types/0 - Timespans.mdx
  website/content/docs/1 - downscaler/3 - staging/0 - Arguments.mdx
  website/content/docs/1 - downscaler/index.mdx
  website/content/docs/2 - helm-chart/0 - Components.mdx
  website/content/docs/2 - helm-chart/2 - values/11 - resources.mdx
  website/content/docs/2 - helm-chart/2 - values/4 - includedResources.mdx
  website/content/docs/2 - helm-chart/2 - values/index.mdx
  website/content/docs/2 - helm-chart/index.mdx
  website/content/docs/3 - Docker Image.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/1 - Migrating from py-kube-downscaler.mdx
  website/src/pages/index.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: pr threads
  website/content/contributing/0 - developing/2 - Helm Chart.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: deployment permissions
  .github/workflows/deploy_website.yaml
Due: prevent-todo-comments

fix: deployment permissions (#205)
  .github/workflows/deploy_website.yaml
Due: prevent-todo-comments

fix: tailwind animated in build
  website/babel.config.json
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/plugins/disable-styling.cts
  website/plugins/tailwind-config.cts
  website/src/components/Basic/Button.tsx
  website/src/components/GithubLabel.tsx
  website/src/components/Homepage/SupportedResources.tsx
  website/src/css/custom.css
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

fix: dynamic
  website/content/contributing/0 - developing/2 - Helm Chart.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: release link
  website/content/contributing/0 - developing/2 - Helm Chart.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add more issue templates
  .github/ISSUE_TEMPLATE/2-question.md
  .github/ISSUE_TEMPLATE/3-bug.md
  .github/ISSUE_TEMPLATE/4-new-crd.md
  .github/ISSUE_TEMPLATE/5-security-vulnerability.md
  SECURITY.md
Due: prevent-todo-comments, prevent-too-small-headings

chore: pr threads
  website/content/contributing/0 - developing/2 - Helm Chart.mdx
  website/content/contributing/1 - Maintaining the Repository.mdx
  website/content/contributing/2 - Github Workflows.mdx
  website/content/contributing/3 - Docker Image.mdx
  website/content/docs/0 - Introduction.mdx
  website/content/docs/1 - downscaler/0 - scopes/1 - Env Scope.mdx
  website/content/docs/2 - helm-chart/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: npm updates
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

refactor: breaking changes and add scaled object exclusion for workloads
  .markdownlint-cli2.yaml
  website/content/docs/1 - downscaler/4 - Workload Types.mdx
  website/content/guides/1 - Migrating from py-kube-downscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: broken anchor links
  website/content/docs/1 - downscaler/4 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: broken anchor links again
  website/content/docs/1 - downscaler/4 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: value group diagram and adjust value defaults
  website/content/docs/1 - downscaler/1 - configurations/1 - Values.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: try at architecture diagram
  website/content/docs/0 - Introduction.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: mermaid diagram directive in introduction
  website/content/docs/0 - Introduction.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add blog page
  website/blog/authors.yml
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

feat: why gokubedownscaler blog
  .github/workflows/deploy_website.yaml
  website/blog/2025-05-05-why-we-built-the-gokubedownscaler.mdx
  website/blog/authors.yml
  website/docusaurus.config.ts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: make prevent todo comments work with mdx
  .pre-commit-config.yaml
  website/blog/2025-05-05-why-we-built-the-gokubedownscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: showLastUpdatedTime for docs and no last author for blogs
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

feat: add some more links to references
  website/blog/2025-05-05-why-we-built-the-gokubedownscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: remove anchor links before truncate since they break in preview
  website/blog/2025-05-05-why-we-built-the-gokubedownscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: syntax and pre commit fix
  cmd/kubedownscaler/errors.go
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
Due: prevent-todo-comments

fix: remove references from blog to doc for now
  website/blog/2025-05-05-why-we-built-the-gokubedownscaler.mdx
  website/docusaurus.config.ts
  website/plugins/global-ref-plugin.cts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: adjusted logic order for isWorkloadExcluded
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat: added exclude managed by owner reference test, lint suggestions
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments
