Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
  language: node

feat: added support for setting qps and burst through arguments
  cmd/admissioncontroller/main.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/util/config.go
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: guard railing edge cases for setting qps and burst values for kubernetes client
  internal/api/kubernetes/client.go
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: fixed docs
  website/content/docs/3 - helm-chart/2 - values/17 - priorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerPriorityClassName.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Feat/Add PriorityClassName To Helm Chart (#362)
  .pre-commit-config.yaml
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/2 - values/17 - priorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/18 - configMap.mdx
  website/content/docs/3 - helm-chart/2 - values/19 - forceRestartOnConfigChange.mdx
  website/content/docs/3 - helm-chart/2 - values/20 - metrics.mdx
  website/content/docs/3 - helm-chart/2 - values/21 - podMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/22 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/23 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerPriorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/34 - webhookPodMonitor.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Feat/Expose QPS And Burst Arguments (#363)
  cmd/admissioncontroller/main.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/util/config.go
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added configurations to use json logs
  cmd/admissioncontroller/config.go
  cmd/kubedownscaler/config.go
  internal/pkg/util/config.go
Due: prevent-todo-comments

added documentation for json logs argument
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: renamed "level" field to "severity" to be compliant to py-kube-downscaler json logs spec
  cmd/admissioncontroller/config.go
  cmd/kubedownscaler/config.go
Due: prevent-todo-comments

refactor: controller-runtime downgrade
  go.mod
  go.sum
Due: none

fix: downgrading controller runtime to 0.22.5 for keda
  go.mod
  go.sum
Due: none

fix: downgrading controller runtime to 0.22.5 for keda (#367)
  go.mod
  go.sum
Due: none

Feat/Implement JSON Logs (#356)
  cmd/admissioncontroller/config.go
  cmd/kubedownscaler/config.go
  internal/pkg/util/config.go
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: bumping go version for project and base images
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  go.mod
Due: none

feat: added missing metrics description, fixed small typo on runtime configuration
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

style: metric details indentation
  website/content/docs/2 - downscaler/4 - Metrics.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: modified docker_build action to build also webhook/admissioncontroller
  .github/workflows/docker_build.yaml
Due: prevent-todo-comments

fix: an
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: bumping go version for project and base images (#369)
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  go.mod
Due: none

Refactor/Website Style And Typos (#370)
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
  website/content/docs/2 - downscaler/4 - Metrics.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added "tag untagged version" job for admission controller webhook
  .github/workflows/docker_build.yaml
Due: prevent-todo-comments

feat: added argument to kubedownscaler Dockerfile in order to reduce image size
  build/kubedownscaler/Dockerfile
Due: none

feat: added argument to kubedownscaler Dockerfile in order to reduce image size (#376)
  build/kubedownscaler/Dockerfile
Due: none

Chore/Added Build For AdmissionController Image In Github Actions (#373)
  .github/workflows/docker_build.yaml
Due: prevent-todo-comments

refactor: relativeTimespan fields now use pointers, refactore parseRelativeTimeSpan func to parse incomplete relative timespans
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

feat: added logic to allow shorter timespans (no timezone, no weekframe)
  cmd/admissioncontroller/main_test.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
  internal/pkg/util/config.go
  internal/pkg/util/errors.go
  internal/pkg/util/timezoneValue.go
  internal/pkg/util/weekFrameValue.go
  internal/pkg/values/errors.go
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

refactor: moved timezone and weekframe env variables from config to scope
  internal/pkg/util/config.go
  internal/pkg/util/errors.go
  internal/pkg/util/timezoneValue.go
  internal/pkg/util/weekFrameValue.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

feat: added docs for shorter timespan
  website/content/docs/2 - downscaler/0 - scopes/1 - Env Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/1 - Values.mdx
  website/content/docs/2 - downscaler/2 - types/0 - Timespans.mdx
  website/content/docs/2 - downscaler/2 - types/5 - Timezone.mdx
  website/content/docs/2 - downscaler/2 - types/6 - WeekFrame.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: update "to_time" regex
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

refactor: deleted timezone and weekframe runtimeconfigs, updated timezoneValue, scopeParser
  internal/pkg/util/config.go
  internal/pkg/util/timezoneValue.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

Feat/Implement Options To Specify Shorter Relative Timespans (#382)
  cmd/admissioncontroller/main_test.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
  internal/pkg/util/errors.go
  internal/pkg/util/timezoneValue.go
  internal/pkg/util/weekFrameValue.go
  internal/pkg/values/errors.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
  website/content/docs/2 - downscaler/0 - scopes/1 - Env Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/1 - Values.mdx
  website/content/docs/2 - downscaler/2 - types/0 - Timespans.mdx
  website/content/docs/2 - downscaler/2 - types/5 - Timezone.mdx
  website/content/docs/2 - downscaler/2 - types/6 - WeekFrame.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added health probes for kubedownscaler deployment
  cmd/kubedownscaler/main.go
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/2 - values/20 - healthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/21 - metrics.mdx
  website/content/docs/3 - helm-chart/2 - values/22 - podMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/23 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/34 - webhookControllerPriorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/35 - webhookPodMonitor.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added startup probe for both deployments, refactored docs
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/2 - values/20 - healthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerHealthProbes.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: healthProbes webhook documentation
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerHealthProbes.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: add default lines
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerMutatingWebhookConfiguration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: eslint10 support
  website/package-lock.json
  website/package.json
  website/src/api/github.ts
Due: prevent-todo-comments, eslint

refactor: added comment
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: removed comment
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

Feat/Add Health Probes To KubeDownscaler Deployment (#377)
  cmd/kubedownscaler/main.go
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/2 - values/20 - healthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/21 - metrics.mdx
  website/content/docs/3 - helm-chart/2 - values/22 - podMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/23 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/34 - webhookControllerPriorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/35 - webhookPodMonitor.mdx
  website/package-lock.json
  website/package.json
  website/src/api/github.ts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added autoscalingrunnerset as a supported resource
  internal/api/kubernetes/client.go
  internal/pkg/scalable/autoscalingrunnersets.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added autoscalingrunnersets to permissions.mdx doc
  website/content/docs/3 - helm-chart/1 - Permissions.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$
