Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/jonathan-mayer/pre-commit-deadcode
    rev: v0.0.1
    hooks:
      - id: go-deadcode
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

refactor: remove debug logger
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

refactor: pdb class
  internal/pkg/scalable/poddisruptionbudgets.go
Due: prevent-todo-comments

fix: broken anchor
  website/content/docs/1 - components/0 - Downscaler.mdx
  website/content/docs/1 - components/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: broken anchor webhook controller
  website/content/docs/1 - components/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: broken anchor inside cli scope
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: linter, mockclient name
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

fix: use 3.9.1-canary-6409 for https://github.com/facebook/docusaurus/issues/11430
  website/package.json
Due: prevent-todo-comments

chore: update docusaurus config layout
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

refactor: upscaled excluded argument name, annotation and docs
  cmd/kubedownscaler/main.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/1 - configurations/1 - Values.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: fix broken anchor
  website/content/docs/1 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/4 - Workload Scope.mdx
  website/content/guides/1 - Migrating from py-kube-downscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: refactor parsing of upscaleExclude argument to getUpscaleExcluded function
  cmd/kubedownscaler/main.go
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

refactor: getCurrentScaling function and unit tests for getExcluded and getUpscaleExcluded
  cmd/kubedownscaler/main.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

Feat/add value to optionally upscale excluded workloads (#302)
  cmd/kubedownscaler/main.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/4 - Workload Scope.mdx
  website/content/docs/1 - downscaler/1 - configurations/1 - Values.mdx
  website/content/guides/1 - Migrating from py-kube-downscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: implemented prometheus metrics for downscaled, upscaled,errors, excluded, cycle duration, number of executions
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  go.mod
  internal/pkg/metrics/metrics.go
  internal/pkg/metrics/namespaceMetricsHolder.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

feat: added saved cpu and memory requests metrics, dry run metrics
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/pkg/metrics/metrics.go
  internal/pkg/metrics/namespaceMetricsHolder.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/config.go
Due: prevent-todo-comments

feat: added metrics argument, added service, exposed port inside the deployment in helm chart
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/service.yaml
  deployments/chart/values.yaml
  internal/pkg/metrics/namespaceMetricsHolder.go
Due: prevent-todo-comments

feat: added documentation for metrics
  deployments/chart/values.yaml
  website/content/docs/1 - downscaler/4 - Metrics.mdx
  website/content/docs/1 - downscaler/index.mdx
  website/content/docs/2 - helm-chart/0 - Components.mdx
  website/content/docs/2 - helm-chart/2 - values/19 - metrics.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added currentNamespaceToMetrics init inside FilterExcluded
  cmd/kubedownscaler/main.go
  internal/pkg/metrics/namespaceMetricsHolder.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

fix: compute saved memory and cpu logic
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
Due: prevent-todo-comments

refactor: removing service as load balancing is not supported with leaderElection enabled
  deployments/chart/templates/service.yaml
Due: prevent-todo-comments

fix: compute saved memory and cpu logic
  internal/pkg/scalable/replicaScaledWorkloads.go
Due: prevent-todo-comments

feat: introduced podMonitor and refactored documentation
  deployments/chart/templates/podmonitor.yaml
  deployments/chart/values.yaml
  website/content/docs/2 - helm-chart/0 - Components.mdx
  website/content/docs/2 - helm-chart/2 - values/19 - metrics.mdx
  website/content/docs/2 - helm-chart/2 - values/20 - podMonitor.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: refactored to savedResources struct, metrics init moved to startScanning, fixed typo
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/pkg/metrics/namespaceMetricsHolder.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: workloadNamespaceMetrics.IncrementSavedResources() to pass directly savedResources
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/pkg/metrics/namespaceMetricsHolder.go
  internal/pkg/metrics/savedResources.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: main, util unit tests, fixed typo in documentation metrics
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/util_test.go
  website/content/docs/1 - downscaler/4 - Metrics.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Feat/expose prometheus metrics (#274)
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/podmonitor.yaml
  deployments/chart/values.yaml
  go.mod
  internal/api/kubernetes/client.go
  internal/pkg/metrics/metrics.go
  internal/pkg/metrics/namespaceMetricsHolder.go
  internal/pkg/metrics/savedResources.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/config.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  website/content/docs/1 - downscaler/4 - Metrics.mdx
  website/content/docs/1 - downscaler/index.mdx
  website/content/docs/2 - helm-chart/0 - Components.mdx
  website/content/docs/2 - helm-chart/2 - values/19 - metrics.mdx
  website/content/docs/2 - helm-chart/2 - values/20 - podMonitor.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: mvp for admission controller
  cmd/admissioncontroller/main.go
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  containers/admissioncontroller/Dockerfile
  containers/kubedownscaler/Dockerfile
  deployments/chart/templates/admission/webhook.deploy.yaml
  deployments/chart/templates/admission/webhook.svc.yaml
  deployments/chart/templates/admission/webhook.tls.secret.yaml
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/config.go
Due: prevent-todo-comments

feat: added admission controller, added helm template for admission resources
  cmd/admissioncontroller/main.go
  containers/admissioncontroller/Dockerfile
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/admissiondeployment.yaml
  deployments/chart/templates/admissionrole.yaml
  deployments/chart/templates/admissionsecret.yaml
  deployments/chart/templates/admissionservice.yaml
  deployments/chart/templates/admissionserviceaccount.yaml
  deployments/chart/templates/leaserole.yaml
  deployments/chart/templates/validatingwebhookconfiguration.yaml
  deployments/chart/values.yaml
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/workloadAdmissionHandler.go
Due: prevent-todo-comments

refactor: kubernetes resources, improved validation logic, exposed http probe
  cmd/admissioncontroller/main.go
  deployments/chart/templates/admissiondeployment.yaml
  deployments/chart/templates/admissionservice.yaml
  deployments/chart/templates/validatingwebhookconfiguration.yaml
  internal/api/kubernetes/admission/workloadAdmissionHandler.go
Due: prevent-todo-comments

refactor: improved error handling, log messages
  cmd/admissioncontroller/main.go
  deployments/chart/templates/admission/webhook.deploy.yaml
  deployments/chart/templates/admission/webhook.svc.yaml
  deployments/chart/templates/admission/webhook.tls.secret.yaml
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/workloadAdmissionHandler.go
Due: prevent-todo-comments

refactor: refactored validate workload logic, removed port 8080 from service
  deployments/chart/templates/admissionservice.yaml
  internal/api/kubernetes/admission/workloadAdmissionHandler.go
Due: prevent-todo-comments

refactor: brackets helm values
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: admission controller mvp
  cmd/admissioncontroller/main.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/workloadAdmissionHandler.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/util/config.go
Due: prevent-todo-comments

refactor: components initialization, dockerfiles path, minor adjustments
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  cmd/admissioncontroller/config.go
  cmd/admissioncontroller/main.go
  cmd/kubedownscaler/config.go
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/errors.go
  internal/api/kubernetes/admission/workloadAdmissionHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/config.go
  internal/pkg/values/scopeParser.go
Due: prevent-todo-comments

feat: convert code to mutation instead of plain admission
  cmd/admissioncontroller/main.go
  go.mod
  go.sum
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: refined logic for mutation, adjusted helm chart for mutation
  build/admissioncontroller/Dockerfile
  cmd/admissioncontroller/main.go
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/admissiondeployment.yaml
  deployments/chart/templates/admissionrole.yaml
  deployments/chart/templates/admissionsecret.yaml
  deployments/chart/templates/admissionservice.yaml
  deployments/chart/templates/admissionserviceaccount.yaml
  deployments/chart/templates/validatingwebhookconfiguration.yaml
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: minor adjustments for error handling
  internal/api/kubernetes/admission/errors.go
Due: prevent-todo-comments

feat: add temporary exclusion for namespace where the admission controller runs
  deployments/chart/templates/validatingwebhookconfiguration.yaml
Due: prevent-todo-comments

feat: refined logic for evaluation mutation, adjust mutating webhook configuration
  deployments/chart/templates/validatingwebhookconfiguration.yaml
  internal/api/kubernetes/admission/errors.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
Due: prevent-todo-comments

refactor: typo and log messages
  deployments/chart/templates/mutatingwebhookconfiguration.yaml
  internal/api/kubernetes/admission/workloadMutationHandler.go
Due: prevent-todo-comments
