Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
  language: node

feat: implemented contextual logging
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
  internal/api/kubernetes/client.go
  internal/api/kubernetes/logger.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/horizontalpodautoscaler_test.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/nodeSelectorScaledWorkload.go
  internal/pkg/scalable/nodeSelectorScaledWorkload_test.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/postgresqls_test.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: small fixes
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/services.go
Due: prevent-todo-comments

refactor: log message when starting main cycle
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

feat: added logging documentation and added scalingAction value to contextual logs
  cmd/kubedownscaler/main.go
  website/content/docs/2 - downscaler/5 - Logs.mdx
  website/content/docs/2 - downscaler/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added in depth logs of exclusions
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/util.go
  internal/pkg/values/scope.go
  website/content/docs/2 - downscaler/5 - Logs.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: documentation
  website/content/docs/2 - downscaler/5 - Logs.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: added json+ld fragment to logs.mdx
  website/content/docs/2 - downscaler/5 - Logs.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: bumped chart version and appversion to 1.4.0
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

chore: added release 1.4.0 article
  website/blog/2026-09-04-announcing-gokubedownscaler-1-4-0.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: updated blog post
  website/blog/2026-09-17-announcing-gokubedownscaler-1-4-0.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: minor fixes and upgraded dependencies
  deployments/chart/templates/poddisruptionbudget.yaml
  website/package-lock.json
Due: prevent-todo-comments

chore: update dependencies
  go.mod
  go.sum
Due: none

refactoring: logging level, logging messages
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/postgresqls_test.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: added scalingLogging class
  internal/pkg/scalable/scalingLogging.go
Due: prevent-todo-comments

fix: logLevel debug now is correctly set when json logs are enabled
  cmd/admissioncontroller/config.go
  cmd/kubedownscaler/config.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/scalingLogging.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads.go
Due: prevent-todo-comments

refactor: scalingSummary struct
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/scalingLogging.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: moved some logs from debug to info levels, printing configurations at the start of the tool
  cmd/kubedownscaler/config.go
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: scalingSummary passed by pointer
  internal/api/kubernetes/client.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/scalingLogging.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: added propagations of decidingScope and decidingValue to clarify scaling logs
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

refactor: scalingValue and scalingDecision
  cmd/kubedownscaler/main.go
  internal/pkg/values/scalingValue.go
  internal/pkg/values/scalingValue_test.go
  internal/pkg/values/scope.go
Due: prevent-todo-comments

refactor: cleaning after rebasing
  internal/pkg/scalable/nodeSelectorScaledWorkload.go
  internal/pkg/scalable/nodeSelectorScaledWorkload_test.go
Due: prevent-todo-comments

refactor: added decidingScope for upscaleExclusion case
  cmd/kubedownscaler/main.go
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

refactor: moved scalingSummary to util.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/nodeSelectorScaledWorkload.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/scalingLogging.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: small refactor to improve visualization and context
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/util.go
  internal/pkg/values/scope.go
Due: prevent-todo-comments

refactor: align fields order
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/values/scalingValue.go
Due: prevent-todo-comments

feat: implemented contextual logging on values package
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

Refactor/Improve Logs (#542)
  cmd/admissioncontroller/config.go
  cmd/kubedownscaler/config.go
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
  internal/api/kubernetes/client.go
  internal/api/kubernetes/logger.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/horizontalpodautoscaler_test.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/nodeSelectorScaledWorkload.go
  internal/pkg/scalable/nodeSelectorScaledWorkload_test.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/postgresqls_test.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/scalingValue.go
  internal/pkg/values/scalingValue_test.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
  website/content/docs/2 - downscaler/5 - Logs.mdx
  website/content/docs/2 - downscaler/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added timeout customization using a custom argument
  cmd/admissioncontroller/main.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/util/config.go
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: code refactor for timeout, removed ctx.WithTimeout from GetWorkloads
  internal/api/kubernetes/client.go
Due: prevent-todo-comments

Feat/Add Timeout Argument For Client API Calls (#548)
  .pre-commit-config.yaml
  cmd/admissioncontroller/main.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/util/config.go
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$
