Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.1
    hooks:
      - id: markdownlint-cli2-rules-docker
        args: [--fix]

  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs)$

fix: pre commit workflow not fixing everything sometimes
  .github/workflows/pre_commit.yaml
  .pre-commit-config.yaml
  deployments/chart/README.md
Due: prevent-todo-comments, prevent-too-small-headings

perf: reduce memory allocations
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/values/regexList.go
  internal/pkg/values/stringlistValue.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

perf: avoid preallocating the slice with zero values
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/values/regexList.go
  internal/pkg/values/stringlistValue.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

perf: avoid temporary copies in get resource functions
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
Due: prevent-todo-comments

Merge branch 'perf/make-slices-more-efficient'
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/values/regexList.go
  internal/pkg/values/stringlistValue.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

chore: add dependabot config
  .github/dependabot.yml
Due: none

chore: add dependabot config (#83)
  .github/dependabot.yml
Due: none

chore: bump golang from 1.23.1 to 1.23.4
  go.mod
Due: none

fix: bump client-go to match with other dependencies
  go.mod
  go.sum
Due: none

Merge remote-tracking branch 'origin/main'
  .github/workflows/docker_build.yaml
  .github/workflows/pre_commit.yaml
  Dockerfile
Due: prevent-todo-comments

Squashed commit of the following:
  go.mod
  go.sum
Due: none

chore: bump go mod deps
  go.mod
  go.sum
Due: none

chore: bump deps dependabot didnt
  go.mod
  go.sum
Due: none

perf: reduce memory allocations (#81)
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/values/regexList.go
  internal/pkg/values/stringlistValue.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

fix: duplicate helm chart category
  website/content/docs/0 - helm-chart/0 - Components.mdx
  website/content/docs/0 - helm-chart/1 - Permissions.mdx
  website/content/docs/0 - helm-chart/2 - values/0 - replicaCount.mdx
  website/content/docs/0 - helm-chart/2 - values/1 - image.mdx
  website/content/docs/0 - helm-chart/2 - values/10 - securityContext.mdx
  website/content/docs/0 - helm-chart/2 - values/11 - resources.mdx
  website/content/docs/0 - helm-chart/2 - values/12 - nodeSelector.mdx
  website/content/docs/0 - helm-chart/2 - values/13 - tolerations.mdx
  website/content/docs/0 - helm-chart/2 - values/14 - affinity.mdx
  website/content/docs/0 - helm-chart/2 - values/15 - excludedNamespaces.mdx
  website/content/docs/0 - helm-chart/2 - values/16 - configMap.mdx
  website/content/docs/0 - helm-chart/2 - values/2 - arguments.mdx
  website/content/docs/0 - helm-chart/2 - values/3 - includedResources.mdx
  website/content/docs/0 - helm-chart/2 - values/4 - fullnameOverride.mdx
  website/content/docs/0 - helm-chart/2 - values/5 - nameOverride.mdx
  website/content/docs/0 - helm-chart/2 - values/6 - constrainedDownscaler.mdx
  website/content/docs/0 - helm-chart/2 - values/7 - constrainedNamespaces.mdx
  website/content/docs/0 - helm-chart/2 - values/8 - serviceAccount.mdx
  website/content/docs/0 - helm-chart/2 - values/9 - podSecurityContext.mdx
  website/content/docs/0 - helm-chart/2 - values/index.mdx
  website/content/docs/0 - helm-chart/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings

fix: duplicate workflows doc
  website/content/docs/1 - Workflows.mdx
Due: prevent-todo-comments, prevent-too-small-headings

fix: duplicate line in readme
  README.md
Due: prevent-todo-comments, prevent-too-small-headings

Squashed commit of the following:
  .github/dependabot.yml
  .github/workflows/docker_build.yaml
  .github/workflows/pre_commit.yaml
  Dockerfile
  go.mod
  go.sum
Due: prevent-todo-comments

chore: fix typo
  website/content/guides/1 - developing/3 - Maintaining the Repository.mdx
Due: prevent-todo-comments, prevent-too-small-headings

chore: resolve pr threads
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/config.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

refactor: revert renameing of vars
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

refactor: make slice clipping more readable
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat: add dependabot.yml
  .github/dependabot.yml
Due: none

Feat/exclude externally scaled workloads (#78)
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: update readme slack invite link
  README.md
Due: prevent-todo-comments, prevent-too-small-headings

feat: change to new logo
  website/docusaurus.config.ts
  website/src/pages/index.tsx
  website/static/img/kubedownscaler-dark-text.svg
  website/static/img/kubedownscaler-dark.svg
  website/static/img/kubedownscaler-light-text.svg
  website/static/img/kubedownscaler-light.svg
Due: prevent-todo-comments, eslint

feat: change to logo with border
  website/docusaurus.config.ts
  website/src/pages/index.tsx
  website/static/img/kubedownscaler-dark-text.svg
  website/static/img/kubedownscaler-dark.svg
  website/static/img/kubedownscaler-light-text.svg
  website/static/img/kubedownscaler-name-dark.svg
  website/static/img/kubedownscaler-name-light.svg
  website/static/img/kubedownscaler.svg
  website/tailwind.config.js
Due: prevent-todo-comments, eslint

feat: add logo to readme and repo
  README.md
  deployments/chart/Chart.yaml
  deployments/chart/icon.svg
  logo/kubedownscaler-name-dark.svg
  logo/kubedownscaler-name-light.svg
  logo/kubedownscaler.svg
Due: prevent-todo-comments, prevent-too-small-headings

refactor: change kubernetes svg to one with border
  website/static/img/Kubernetes.svg
Due: none

fix: make workflows run for forks (#77)
  .github/workflows/auto_assign_author.yaml
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments
