Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/jonathan-mayer/pre-commit-deadcode
    rev: v0.0.1
    hooks:
      - id: go-deadcode
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

Chore/Release 1.3.4 (#457)
  .gitattributes
  .github/ISSUE_TEMPLATE/adopter.yaml
  deployments/chart/Chart.yaml
  go.mod
  go.sum
  internal/pkg/scalable/horizontalpodautoscaler_test.go
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/src/pages/adopters.tsx
  website/src/theme/Logo/index.tsx
  website/static/img/kubedownscaler-16x16.png
  website/static/img/kubedownscaler-180x180.png
  website/static/img/kubedownscaler-32x32.png
  website/static/img/kubedownscaler-48x48.png
Due: prevent-todo-comments, eslint

fix(chart): use webhook image tag for webhook deployment
  deployments/chart/templates/webhookdeployment.yaml
Due: prevent-todo-comments

fix(chart): allow webhook SA to list/watch secrets
  deployments/chart/templates/_helpers.tpl
Due: none

feat: add support for Zalando Postgresql CRD
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  go.mod
  go.sum
  internal/api/kubernetes/client.go
  internal/pkg/scalable/postgresqls.go
  internal/pkg/scalable/postgresqls_test.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix(chart): allow webhook SA to list/watch mutatingwebhookconfigurations
  deployments/chart/templates/_helpers.tpl
Due: none

fix(chart): allow webhook SA to create its TLS secret
  deployments/chart/templates/_helpers.tpl
Due: none

fix(chart): drop redundant name-scoped watch on mutatingwebhookconfigurations
  deployments/chart/templates/_helpers.tpl
Due: none

feat: add zalando postgresql (`acid.zalan.do/v1`) (#469)
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/values.yaml
  go.mod
  go.sum
  internal/api/kubernetes/client.go
  internal/pkg/scalable/postgresqls.go
  internal/pkg/scalable/postgresqls_test.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: don't skip workloads with undefined current replicas
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
Due: prevent-todo-comments

test: make ScaledObject undefined-replicas test table-driven
  internal/pkg/scalable/replicaScaledWorkloads_test.go
Due: prevent-todo-comments

feat(scalable): migrate Strimzi resources to kafka.strimzi.io/v1
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkabridges_test.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkaconnects_test.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/kafkamirrormaker2s_test.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix(scalable): extract kafka.strimzi.io group into shared constant
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

refactor(scalable): split Strimzi workload into per-resource files
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkabridges_test.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkaconnects_test.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/kafkamirrormaker2s_test.go
  internal/pkg/scalable/strimzi.go
Due: prevent-todo-comments

fix(scalable): fix golangci-lint and markdownlint violations in Strimzi files
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix(scalable): extract kafka.strimzi.io version into shared constant
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat(scalable): add Strimzi KafkaConnect, KafkaMirrorMaker2, KafkaBridge support
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/strimzi.go
  internal/pkg/scalable/strimzi_test.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor(scalable): extract unstructured replicas conversion to util
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

Apply suggestion from @samuel-esp
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

fix: math import
  .gitignore
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat(scalable): add Strimzi KafkaConnect, KafkaMirrorMaker2, KafkaBridge support (#434)
  .gitignore
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkabridges_test.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkaconnects_test.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/kafkamirrormaker2s_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: don't skip ScaledObjects with undefined current replicas (#476)
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
Due: prevent-todo-comments

feat: ignore "exclude-until" values in the past from being set in the scope
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

refactor: unit tests and getExcluded logic
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

feat: added singleTimeSpan implementation
  internal/pkg/values/errors.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

feat: added docs for directional timespan
  website/content/docs/2 - downscaler/2 - types/0 - Timespans.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: renamed singleTimespan to more descriptive directionalTimespan
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

refactor: singleTimeSpan renamed as directionalTimeSpan
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

feat: implemented services scaling
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/services_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/replicas.go
  internal/pkg/values/replicas_test.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/2 - values/4 - includedResources.mdx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add parseServiceFromBytes for NLB and ELB services
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: implementing logic for ingress
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: removed ingress class
  internal/pkg/scalable/ingresses.go
Due: prevent-todo-comments

feat: implementing ingresses and gateways downscaling logic, added helm chart logic and docs
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  go.mod
  go.sum
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/gateways_test.go
  internal/pkg/scalable/helpers_test.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/ingresses_test.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/2 - values/4 - includedResources.mdx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: aggregated common logic into valueScaledWorkload
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/gateways_test.go
  internal/pkg/scalable/helpers_test.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/ingresses_test.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/services_test.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads_test.go
Due: prevent-todo-comments

feat: added deploy of ingressClass or gatewayClass when gateways or ingresses are in includedResources
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/downscalergatewayclass.yaml
  deployments/chart/templates/downscaleringressclass.yaml
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
Due: prevent-todo-comments

refactor: deploy mode of gatewayClass and ingressClass
  deployments/chart/templates/NOTES.txt
  deployments/chart/templates/downscalergatewayclass.yaml
  deployments/chart/templates/downscaleringressclass.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: added documentations
  website/content/docs/3 - helm-chart/0 - Components.mdx
  website/content/docs/3 - helm-chart/1 - Permissions.mdx
  website/content/docs/3 - helm-chart/2 - values/37 - deployExtraResources.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint
