Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/jonathan-mayer/pre-commit-deadcode
    rev: v0.0.1
    hooks:
      - id: go-deadcode
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

fix: typo on create_release action
  .github/workflows/create_release.yaml
Due: prevent-todo-comments

refactor: supported resources
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, eslint

feat: enhanced chart.yaml
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

refactor: github actions for backport, check_for_release and helm_build
  .github/workflows/backport.yaml
  .github/workflows/check_for_release.yaml
  .github/workflows/helm_build.yaml
Due: prevent-todo-comments

refactor: typo on values.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: docs
  website/content/contributing/0 - developing/0 - Downscaler.mdx
  website/content/contributing/2 - Github Workflows.mdx
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/2 - downscaler/4 - Metrics.mdx
  website/content/docs/4 - faq.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/1 - advanced-guides/2 - DNS-Aware Load Balancer Scaling.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: minor improvements
  .github/workflows/backport.yaml
  .github/workflows/create_release.yaml
  website/content/docs/2 - downscaler/2 - types/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: helm chart backlinks and seo
  deployments/chart/Chart.yaml
  deployments/chart/README.md
Due: prevent-todo-comments, prevent-too-small-headings

chore: updated brace-expansion dependency
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

refactor: minor improvements
  website/content/docs/2 - downscaler/2 - types/index.mdx
  website/content/guides/0 - getting-started/3 - On Demand Startup.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: updated brace-expansion dependency
  website/package.json
Due: prevent-todo-comments

feat: added options to specify pdbs
  website/content/docs/3 - helm-chart/0 - Components.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - podDisruptionBudget.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/34 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/35 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/36 - webhookControllerPriorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/37 - webhookPodMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/38 - webhookControllerPodDisruptionBudget.mdx
  website/content/docs/3 - helm-chart/2 - values/39 - deployExtraResources.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added options to specify pdbs
  deployments/chart/templates/poddisruptionbudget.yaml
  deployments/chart/templates/webhookpoddisruptionbudget.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

chore: update mermaid dependencies
  website/package.json
Due: prevent-todo-comments

refactor: validatingadmissionpolicy and mutatingadmissionpolicy
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: annotation compliance doc
  website/content/docs/3 - helm-chart/2 - values/a21 - annotationsCompliance.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: updated go to 1.26.6
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  go.mod
Due: none

refactor: annotation compliance doc
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/2 - values/a21 - annotationsCompliance.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: fix vulnerabilities
  website/package-lock.json
Due: prevent-todo-comments

chore: upgraded dependencies
  website/package-lock.json
Due: prevent-todo-comments

chore: aligned util.go with kruise crds and aligned ownerReference handling after merging #518
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

chore: updated go to 1.26.8
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  go.mod
Due: none

chore: add signing key and update Chart.yaml with new fingerprint
  deployments/chart/.helmignore
  deployments/chart/Chart.yaml
  deployments/chart/signing-key.asc
Due: prevent-todo-comments

refactoring: logging level, logging messages
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/postgresqls_test.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: scalingSummary struct
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/scalingLogging.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

fix: logLevel debug now is correctly set when json logs are enabled
  cmd/admissioncontroller/config.go
  cmd/kubedownscaler/config.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/scalingLogging.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads.go
Due: prevent-todo-comments

feat: added scalingLogging class
  internal/pkg/scalable/scalingLogging.go
Due: prevent-todo-comments

refactor: moved some logs from debug to info levels, printing configurations at the start of the tool
  cmd/kubedownscaler/config.go
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: scalingSummary passed by pointer
  internal/api/kubernetes/client.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/scalingLogging.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: added propagations of decidingScope and decidingValue to clarify scaling logs
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

refactor: scalingValue and scalingDecision
  cmd/kubedownscaler/main.go
  internal/pkg/values/scalingValue.go
  internal/pkg/values/scalingValue_test.go
  internal/pkg/values/scope.go
Due: prevent-todo-comments

refactor: cleaning after rebasing
  internal/pkg/scalable/nodeSelectorScaledWorkload.go
  internal/pkg/scalable/nodeSelectorScaledWorkload_test.go
Due: prevent-todo-comments

refactor: added decidingScope for upscaleExclusion case
  cmd/kubedownscaler/main.go
  internal/pkg/values/scope.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments

refactor: moved scalingSummary to util.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/nodeSelectorScaledWorkload.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/scalingLogging.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: align fields order
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/values/scalingValue.go
Due: prevent-todo-comments

refactor: small refactor to improve visualization and context
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/util.go
  internal/pkg/values/scope.go
Due: prevent-todo-comments

feat: implemented contextual logging on values package
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
Due: prevent-todo-comments
