Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/jonathan-mayer/pre-commit-deadcode
    rev: v0.0.1
    hooks:
      - id: go-deadcode
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

fix: ref
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: vulnerability
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

fix: header
  website/content/guides/0 - getting-started/3 - On Demand Startup.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/3 - On Demand Startup.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: adjust boolean timespans header
  website/content/docs/2 - downscaler/1 - configurations/1 - Values.mdx
  website/content/docs/2 - downscaler/2 - types/0 - Timespans.mdx
  website/content/guides/0 - getting-started/3 - On Demand Startup.mdx
  website/versioned_docs/version-1.3.0/docs/2 - downscaler/1 - configurations/1 - Values.mdx
  website/versioned_docs/version-1.3.0/docs/2 - downscaler/2 - types/0 - Timespans.mdx
  website/versioned_docs/version-1.3.0/guides/0 - getting-started/3 - On Demand Startup.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: inconsistencies and wrong links
  website/content/guides/2 - Migrating from py-kube-downscaler.mdx
  website/docusaurus.config.ts
  website/src/components/Homepage/InstallationShowcase/index.tsx
  website/src/pages/index.tsx
  website/versioned_docs/version-1.3.0/guides/2 - Migrating from py-kube-downscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix(chart): omit EXCLUDE_NAMESPACES when excludedNamespaces is empty
  deployments/chart/templates/configmap.yaml
  website/content/docs/3 - helm-chart/2 - values/16 - excludedNamespaces.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add minimum-replicas value to skip downscaling small workloads
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scope_test.go
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/2 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/2 - downscaler/0 - scopes/4 - Workload Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/1 - Values.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: skip workloads below downtime-replicas
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
Due: prevent-todo-comments

fix: skip workloads below downtime-replicas (#456)
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
Due: prevent-todo-comments

feat: improved update operations for cronjobs, daemonsets. scalableResources are only updated when needed
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/replicas.go
Due: prevent-todo-comments

feat: added some test in replicas_test for boolean replicas
  internal/pkg/values/replicas_test.go
Due: prevent-todo-comments

chore: added nolint for gosec
  cmd/admissioncontroller/main.go
Due: prevent-todo-comments

fix: pre-commit
  .golangci.yaml
Due: prevent-todo-comments

docs: documented hpa behavior when minReplicas>maxReplicas during the scale up process
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: clamp minReplicas to maxReplicas, add specific tests for hpa special cases
  cmd/admissioncontroller/main.go
  internal/pkg/scalable/horizontalpodautoscaler_test.go
  internal/pkg/scalable/horizontalpodautoscalers.go
Due: prevent-todo-comments

fix(chart): default EXCLUDE_NAMESPACES to release namespace and kube-system
  deployments/chart/templates/configmap.yaml
  website/content/docs/3 - helm-chart/2 - values/16 - excludedNamespaces.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

perf(client): skip Update API call when workload is already in desired state
  internal/api/kubernetes/client.go
  internal/api/kubernetes/client_test.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

fix(docs): wrap excludedNamespaces line to satisfy MD013
  website/content/docs/3 - helm-chart/2 - values/16 - excludedNamespaces.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix(chart): omit EXCLUDE_NAMESPACES when excludedNamespaces is empty (#452)
  deployments/chart/templates/configmap.yaml
  website/content/docs/3 - helm-chart/2 - values/16 - excludedNamespaces.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: run pre-commit
  internal/pkg/scalable/horizontalpodautoscalers.go
Due: prevent-todo-comments

feat: HPA Behavior When TargetReplicas Greater Than MaxReplicas (#435)
  internal/pkg/scalable/horizontalpodautoscaler_test.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: Improve Update Operations (#445)
  .golangci.yaml
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/daemonsets_test.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/suspendScaledWorkloads.go
  internal/pkg/scalable/suspendScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/replicas.go
  internal/pkg/values/replicas_test.go
Due: prevent-todo-comments

feat: added favicons, refined json+ld graph
  website/docusaurus.config.ts
  website/src/theme/Logo/index.tsx
  website/static/img/kubedownscaler-16x16.png
  website/static/img/kubedownscaler-180x180.png
  website/static/img/kubedownscaler-32x32.png
  website/static/img/kubedownscaler-48x48.png
Due: prevent-todo-comments, eslint

fix: adopter.yaml template
  .github/ISSUE_TEMPLATE/adopter.yaml
Due: prevent-todo-comments

feat: perfected json+ld for search
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

feat: add noindex to versioned documentation pages to avoid duplicate indexing
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

feat: updated go dependencies
  go.mod
  go.sum
Due: none

chore: bumped release and appVersion
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

feat: gokubedownscaler refactore to kube downscaler for seo purposes
  website/docusaurus.config.ts
  website/src/pages/adopters.tsx
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

refactor: title
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

refactor: revert to gokubedownscaler title
  website/docusaurus.config.ts
  website/src/pages/adopters.tsx
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

chore: updated dependencies
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

feat: added gitattributes to exclude documentation files from repo stats
  .gitattributes
Due: none

refactor: revert to GoKubeDownscaler title
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

fix: horizontalpodautoscaler test to accept new parameter
  internal/pkg/scalable/horizontalpodautoscaler_test.go
Due: prevent-todo-comments

chore: bumped eslint dependencies
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments
