Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
  language: node

refactor: minor adjustments after rebasing
  cmd/admissioncontroller/config.go
  cmd/kubedownscaler/config.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/util.go
  internal/pkg/util/config.go
  internal/pkg/values/scope.go
  internal/pkg/values/scopeParser.go
  website/content/docs/3 - helm-chart/2 - values/21 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/22 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerTolerations.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: removing unused import from rollout class
  internal/pkg/scalable/rollouts.go
Due: prevent-todo-comments

refactor: FilterExcluded metrics sub-functions to be able to support both components
  cmd/kubedownscaler/errors.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/pkg/metrics/metrics.go
  internal/pkg/metrics/namespaceMetricsHolder.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments

refactor: add nil check on IncrementSavedResources
  internal/pkg/metrics/namespaceMetricsHolder.go
Due: prevent-todo-comments

feat: added metrics for admission controller
  cmd/admissioncontroller/main.go
  deployments/chart/templates/webhookdeployment.yaml
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/admissionHandler_test.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
  internal/pkg/metrics/admissionMetrics.go
  internal/pkg/metrics/metrics.go
  internal/pkg/metrics/util.go
Due: prevent-todo-comments

refactor: exported constants for healthz and readyz
  cmd/admissioncontroller/main.go
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

refactor: exposing metrics with controller runtime for the webhook, metrics documentation, metrics cleanup
  cmd/admissioncontroller/main.go
  cmd/kubedownscaler/main.go
  deployments/chart/templates/admission/webhook.deploy.yaml
  deployments/chart/templates/admission/webhook.svc.yaml
  deployments/chart/templates/admission/webhook.tls.secret.yaml
  internal/api/kubernetes/client.go
  internal/pkg/metrics/admissionMetrics.go
  website/content/docs/2 - downscaler/4 - Metrics.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: added list permission for webook clusterwide role
  deployments/chart/templates/_helpers.tpl
Due: none

refactor: added permissions for events and refactored metrics, removed development logs for debugging admission metrics integration
  deployments/chart/templates/_helpers.tpl
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/pkg/metrics/admissionMetrics.go
Due: prevent-todo-comments

refactor: introduced warning message for possible failures in the admission evaluation
  cmd/admissioncontroller/main_test.go
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/admissionHandler_test.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  website/content/docs/1 - components/1 - Webhook.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerMutatingWebhookConfiguration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: update workloadMutationHandler test with expected return code
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
Due: prevent-todo-comments

feat: added a dedicated podMonitor resource to fetch metrics from webhook
  deployments/chart/templates/webhookpodmonitor.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/2 - values/32 - webhookPodMonitor.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: use correct npm package for sentences-per-line markdownlintrule
  .markdownlint-cli2.yaml
Due: prevent-todo-comments

fix: use correct npm package for sentences-per-line markdownlintrule (#339)
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  website/package-lock.json
Due: prevent-todo-comments

fix: jonathan
  .pre-commit-config.yaml
Due: prevent-todo-comments

fix: md lint
  website/content/docs/3 - helm-chart/2 - values/18 - forceRestartOnConfigChange.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: jonathan (#343)
  .pre-commit-config.yaml
  website/content/docs/3 - helm-chart/2 - values/18 - forceRestartOnConfigChange.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: dependencies and config
  go.mod
  go.sum
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments, eslint

fix: dependencies and config (#345)
  go.mod
  go.sum
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments, eslint

fix: remove ireturn
  .golangci.yaml
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
  internal/api/kubernetes/certificates.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/suspendScaledWorkloads.go
Due: prevent-todo-comments

fix: remove orphaned double slashes
  internal/pkg/scalable/poddisruptionbudgets.go
Due: prevent-todo-comments

fix: space
  internal/pkg/scalable/poddisruptionbudgets.go
Due: prevent-todo-comments

fix: remove ireturn (#349)
  .golangci.yaml
  internal/api/kubernetes/admission/workloadMutationHandler_test.go
  internal/api/kubernetes/certificates.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/suspendScaledWorkloads.go
Due: prevent-todo-comments

feat: added logic to prevent deploy of annotations from unauthorized users
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: added docs, refactored docs page numbers
  website/content/docs/3 - helm-chart/2 - values/21 - preventUnauthorizedAnnotations.mdx
  website/content/docs/3 - helm-chart/2 - values/22 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/23 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookPodMonitor.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: reworked polices to be more precise, changed helm values, refactored docs
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/2 - values/21 - preventUnauthorizedAnnotations.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added templates description inside components.mdx
  website/content/docs/3 - helm-chart/0 - Components.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added configurations to use json logs
  cmd/admissioncontroller/config.go
  cmd/kubedownscaler/config.go
  internal/pkg/util/config.go
Due: prevent-todo-comments

added documentation for json logs argument
  website/content/docs/2 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: matchConditions names to avoid being too long
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
Due: prevent-todo-comments

refactor: fixing typo, added validation condition on null
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
Due: prevent-todo-comments

feat: refined expressions and documentation
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/0 - Components.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: policies templates, documentation
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
  website/content/docs/3 - helm-chart/2 - values/21 - annotationsCompliance.mdx
  website/content/docs/3 - helm-chart/2 - values/21 - preventUnauthorizedAnnotations.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: refined deletion policies, conditional generation logic
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
Due: prevent-todo-comments

refactor: separated validation message for addition and editing in validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
Due: prevent-todo-comments

feat: added support for whitelisting groups, refactored values.yaml and documentation accordingly
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
  deployments/chart/values.yaml
  website/content/docs/3 - helm-chart/2 - values/21 - annotationsCompliance.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: renamed "level" field to "severity" to be compliant to py-kube-downscaler json logs spec
  cmd/admissioncontroller/config.go
  cmd/kubedownscaler/config.go
Due: prevent-todo-comments

feat: added priority class to the chart
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: added documentation for priorityClassName value of the helm chart
  website/content/docs/3 - helm-chart/2 - values/17 - priorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/18 - configMap.mdx
  website/content/docs/3 - helm-chart/2 - values/19 - forceRestartOnConfigChange.mdx
  website/content/docs/3 - helm-chart/2 - values/20 - metrics.mdx
  website/content/docs/3 - helm-chart/2 - values/21 - podMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/22 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/23 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerPriorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/34 - webhookPodMonitor.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$
