Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
  language: node

fix: vulnerabilities in package.json
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

fix: exclude node modules
  .pre-commit-config.yaml
Due: prevent-todo-comments

fix: new exclude
  .pre-commit-config.yaml
Due: prevent-todo-comments

style: mobile adjustments, font colors
  website/src/components/Homepage/FurtherCustomization/styles.module.css
  website/src/components/Homepage/HowItWorks/styles.module.css
  website/src/components/Homepage/KubeDownscalerFeatures/index.tsx
  website/src/components/Homepage/KubeDownscalerFeatures/styles.module.css
  website/src/css/custom.css
Due: prevent-todo-comments, eslint

feat: better display of resources for mobile
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, eslint

style: cards for supported resources on mobile
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, eslint

typo: fixed third person on question
  website/src/components/Homepage/FurtherCustomization/index.tsx
Due: prevent-todo-comments, eslint

style: adjusted elements for mobile, removed terminal animations for mobile, made announcement bar smaller for mobile
  website/docusaurus.config.ts
  website/src/components/Homepage/HowItWorks/index.tsx
  website/src/css/custom.css
Due: prevent-todo-comments, eslint

feat: added CNAME for github pages custom domain
  website/static/CNAME
Due: none

fix: relative urls in manifest.json
  website/static/manifest.json
Due: prevent-todo-comments

feat: seo json+ld, reduced animations when users don't want them, addded aria-labels, canonical urls, preloaders, enforce only 1 h1 element on homepage
  website/content/docs/4 - faq.mdx
  website/docusaurus.config.ts
  website/src/components/Homepage/FurtherCustomization/styles.module.css
  website/src/components/Homepage/HowItWorks/styles.module.css
  website/src/components/Homepage/KubeDownscalerFeatures/styles.module.css
  website/src/components/Homepage/ProjectDescription/styles.module.css
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
  website/src/components/Homepage/SupportedResources/styles.module.css
  website/src/css/custom.css
  website/src/pages/adopters.tsx
  website/static/img/Rss-black.svg
  website/static/img/Rss-white.svg
  website/versioned_docs/version-1.3.0/docs/4 - faq.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: index page refactoring for open graph, json+ld, animations
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

chore: reverted faqs
  website/content/docs/4 - faq.mdx
  website/versioned_docs/version-1.3.0/docs/4 - faq.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor(scalable): split Strimzi workload into per-resource files
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkabridges_test.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkaconnects_test.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/kafkamirrormaker2s_test.go
  internal/pkg/scalable/strimzi.go
Due: prevent-todo-comments

feat(scalable): migrate Strimzi resources to kafka.strimzi.io/v1
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkabridges_test.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkaconnects_test.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/kafkamirrormaker2s_test.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

ci(pre-commit): use stable golangci-lint install URL
  .github/workflows/pre_commit.yaml
Due: prevent-todo-comments

ci(pre-commit): use stable golangci-lint install URL (#450)
  .github/workflows/pre_commit.yaml
  .pre-commit-config.yaml
  cmd/admissioncontroller/config.go
  cmd/admissioncontroller/main.go
  cmd/kubedownscaler/config.go
  internal/api/kubernetes/admission/workloadMutationHandler.go
  internal/api/kubernetes/client.go
  internal/pkg/util/weekFrameValue.go
Due: prevent-todo-comments

chore: migrated "future.experimental_faster" to "faster" in docusaurus.config.ts
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

chore: added openkruise logo and supported resources in docs
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

fix: test without gosec nolint
  cmd/admissioncontroller/main.go
Due: prevent-todo-comments

fix: authorizeGroupsRegex was incorrectly set as authorizeUsersRegex, missing expresssion for userRegex in mutatingadmissionpolicyremoval
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
Due: prevent-todo-comments

chore: bumped eslint to 10.2.0
  website/package-lock.json
Due: prevent-todo-comments

chore: bumped dependencies (mainly docusaurus 3.10)
  website/package-lock.json
Due: prevent-todo-comments

chore: edited golanci.yaml to exclude website/node_modules from .go scanning
  .golangci.yaml
Due: prevent-todo-comments

chore: bumped eslint to 10.2.0
  website/package.json
Due: prevent-todo-comments

typo: fixed annotationCompliance note block
  website/content/docs/3 - helm-chart/2 - values/21 - annotationsCompliance.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: bumped go version to 1.25.9
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  go.mod
Due: none

fix: test moving nolinter
  cmd/admissioncontroller/main.go
Due: prevent-todo-comments

fix: missing link in blog post, added kube-downscaler tag for seo
  website/blog/2026-03-02-announcing-gokubedownscaler-1-3-0.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: nolint gosec
  cmd/admissioncontroller/main.go
Due: prevent-todo-comments

chore: bumped dependencies (mainly docusaurus 3.10), eslint, postcss
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

chore: update libraries to latest bug fix versions, updated go to 1.27.8
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
  go.mod
  go.sum
Due: none

chore: bumping google.golang.org/grpc to 1.79.3 to solve cve
  go.mod
  go.sum
Due: none

chore: bumped dependencies for website and pre-commit
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

chore: updated website dependencies
  website/package-lock.json
Due: prevent-todo-comments

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$
