Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
  language: node

chore: bumped chart version and appversion to 1.4.0
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

chore: updated blog post
  website/blog/2026-09-17-announcing-gokubedownscaler-1-4-0.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: minor fixes and upgraded dependencies
  deployments/chart/templates/poddisruptionbudget.yaml
  website/package-lock.json
Due: prevent-todo-comments

refactor: blog post
  website/blog/2026-09-24-announcing-gokubedownscaler-1-4-0.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add data-tier scalers for RabbitMQ, CNPG, Elasticsearch, MongoDB and Redis
  build/kubedownscaler/Dockerfile
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/cnpgclusters.go
  internal/pkg/scalable/cnpgclusters_test.go
  internal/pkg/scalable/elasticsearches.go
  internal/pkg/scalable/elasticsearches_test.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/mongodbcommunities.go
  internal/pkg/scalable/mongodbcommunities_test.go
  internal/pkg/scalable/rabbitmqclusters.go
  internal/pkg/scalable/rabbitmqclusters_test.go
  internal/pkg/scalable/redis.go
  internal/pkg/scalable/redis_test.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: allow helm injected global and enabled keys in chart schema
  deployments/chart/values.schema.json
Due: prevent-todo-comments

fix: allow helm injected global and enabled keys in chart schema (#553)
  deployments/chart/values.schema.json
Due: prevent-todo-comments

feat: allow releasing from release branches (release/major.minor)
  .github/workflows/check_for_release.yaml
  .github/workflows/check_version.yaml
Due: prevent-todo-comments

fix: allow helm injected global and enabled keys in chart schema (#553) (#554)
  deployments/chart/values.schema.json
Due: prevent-todo-comments

chore: bumping version to 1.4.1
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

Revert "chore: bumping version to 1.4.1"
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

chore: release 1.4.1
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

feat: allow releasing from release branches (release/major.minor) (#555)
  .github/workflows/check_for_release.yaml
  .github/workflows/check_version.yaml
Due: prevent-todo-comments

feat: allow releasing from release branches (release/major.minor) (#555) (#558)
  .github/workflows/check_for_release.yaml
  .github/workflows/check_version.yaml
Due: prevent-todo-comments

chore: release 1.4.1 (#559)
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

feat: add DOWNTIME_REPLICAS support to env scope
  .gitignore
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scopeParser_test.go
  website/content/docs/2 - downscaler/0 - scopes/1 - Env Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/1 - Values.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add DOWNTIME_REPLICAS support to env scope (#552)
  .gitignore
  internal/pkg/values/scopeParser.go
  internal/pkg/values/scopeParser_test.go
  website/content/docs/2 - downscaler/0 - scopes/1 - Env Scope.mdx
  website/content/docs/2 - downscaler/1 - configurations/1 - Values.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added ard.json
  .gitignore
  website/package.json
  website/static/.well-known/ard.json
Due: prevent-todo-comments

fix: broken anchors on latest blog post
  website/blog/2026-09-24-announcing-gokubedownscaler-1-4-0.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added strimzi logo to SupportedResources.tsx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
  website/static/img/Strimzi.svg
Due: prevent-todo-comments, eslint

refactor: ai-catalog.json
  .gitignore
  website/package.json
  website/static/.well-known/ai-catalog.json
Due: prevent-todo-comments

refactor: ai-catalog.json
  website/static/.well-known/ai-catalog.json
Due: prevent-todo-comments

fix: dns aware load balancing typo in the docs
  website/content/guides/1 - advanced-guides/2 - DNS-Aware Load Balancer Scaling.mdx
  website/versioned_docs/version-1.4.0/guides/1 - advanced-guides/2 - DNS-Aware Load Balancer Scaling.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: openkruise typos
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, eslint

fix: dependencies
  website/package-lock.json
Due: prevent-todo-comments

feat: added conflictResolution strategy for backported PRs
  .backportrc.json
Due: prevent-todo-comments

Refactor: Website Typos, Anchors and ARD (#560)
  .backportrc.json
  website/blog/2026-09-24-announcing-gokubedownscaler-1-4-0.mdx
  website/content/guides/1 - advanced-guides/2 - DNS-Aware Load Balancer Scaling.mdx
  website/package-lock.json
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
  website/static/.well-known/ai-catalog.json
  website/static/img/Strimzi.svg
  website/versioned_docs/version-1.4.0/guides/1 - advanced-guides/2 - DNS-Aware Load Balancer Scaling.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: solve backport conflicts
  go.mod
  go.sum
Due: none

[release/1.4] chore(deps): bump sigs.k8s.io/controller-runtime (#562) (#564)
  go.mod
  go.sum
Due: none

chore: solved conflcits after backport
  go.mod
Due: none

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$
