Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.1
    hooks:
      - id: markdownlint-cli2-rules-docker
        args: [--fix]

  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs)$

feat: added docs for --max-retries-on-conflict arg
  README.md
Due: prevent-todo-comments, prevent-too-small-headings

feat: refactored troubleshooting.md
  docs/troubleshooting.md
Due: prevent-todo-comments, prevent-too-small-headings

refactor: rebased, refactored getResourceFunc logic
  cmd/kubedownscaler/main.go
  go.mod
  go.sum
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/config.go
Due: prevent-todo-comments

refactor: linter suggestions
  cmd/kubedownscaler/main.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
Due: prevent-todo-comments

this did something
  website/plugins/disable-styling.cts
  website/src/css/custom.css
  website/tailwind.config.js
Due: prevent-todo-comments, eslint

fix: it actually works now :)
  website/plugins/disable-tailwind.cts
  website/plugins/tailwind-config.cts
Due: eslint

fix: pr threads
  website/plugins/disable-styling.cts
  website/plugins/disable-tailwind.cts
Due: eslint

refactor: relative timespans
  .golangci.yaml
  cmd/kubedownscaler/main_test.go
  internal/pkg/values/dayTime.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

refactor: the rest
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/pkg/util/config.go
  internal/pkg/values/dayTime.go
  internal/pkg/values/layer.go
  internal/pkg/values/layerParser.go
  internal/pkg/values/layer_test.go
Due: prevent-todo-comments

fix: change exclude logic
  internal/pkg/values/layer.go
Due: prevent-todo-comments

revert: refactor out tri state bool
  internal/pkg/values/layer.go
  internal/pkg/values/layerParser.go
  internal/pkg/values/layer_test.go
Due: prevent-todo-comments

feat: add docs on default layer implemented in #118 + fix anchors
  website/content/docs/0 - downscaler/0 - Arguments.mdx
  website/content/docs/0 - downscaler/1 - Environment Variables.mdx
  website/content/docs/0 - downscaler/2 - Annotations.mdx
  website/content/docs/0 - downscaler/4 - Values.mdx
  website/content/docs/0 - downscaler/5 - Layers.mdx
  website/content/docs/0 - downscaler/assets/layer-diagram.png
Due: prevent-todo-comments, prevent-too-small-headings

refactor: moved scanning gofunc to scanAttempt function
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: renamed scanAttempt function
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

chore: add new lines in admonitions for consistency and formatting
  website/content/docs/0 - downscaler/0 - Arguments.mdx
  website/content/docs/0 - downscaler/3 - Runtime Configuration.mdx
  website/content/docs/0 - downscaler/5 - Layers.mdx
  website/content/docs/0 - downscaler/6 - types/0 - Timespans.mdx
  website/content/guides/1 - developing/1 - Website.mdx
Due: prevent-todo-comments, prevent-too-small-headings

fix: idk
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

fix: finally
  website/plugins/disable-styling.cts
  website/plugins/disable-tailwind.cts
  website/plugins/tailwind-config.cts
  website/src/css/custom.css
Due: eslint

fix: button underline
  website/src/components/Basic/Button.tsx
Due: prevent-todo-comments, eslint

fix: weird margin
  website/content/docs/0 - downscaler/0 - Arguments.mdx
Due: prevent-todo-comments, prevent-too-small-headings

refactor: error logs to not be stupid long
  website/content/guides/1 - developing/1 - Website.mdx
  website/content/guides/1 - developing/index.mdx
  website/plugins/global-ref-plugin.cts
  website/plugins/repo-ref-plugin.cts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: eslint in pipeline
  .pre-commit-config.yaml
Due: prevent-todo-comments

fix: issues with leasRole and constrained role creation
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/leaserole.yaml
  deployments/chart/templates/role.yaml
Due: prevent-todo-comments

feat: mvp for admission controller
  cmd/admissioncontroller/main.go
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  containers/admissioncontroller/Dockerfile
  containers/kubedownscaler/Dockerfile
  deployments/chart/templates/admission/webhook.deploy.yaml
  deployments/chart/templates/admission/webhook.svc.yaml
  deployments/chart/templates/admission/webhook.tls.secret.yaml
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/workload.go
  internal/pkg/util/config.go
Due: prevent-todo-comments

fix: correction for leader election flag assignment
  internal/pkg/util/config.go
Due: prevent-todo-comments

fix: correction for leader election flag assignment (#123)
  internal/pkg/util/config.go
Due: prevent-todo-comments

adjust helm readme
  deployments/chart/README.md
Due: prevent-todo-comments, prevent-too-small-headings

try workflow fix
  .pre-commit-config.yaml
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

make button not draggable
  website/src/components/Basic/Button.tsx
Due: prevent-todo-comments, eslint

feat: update issue template with docs section
  .github/ISSUE_TEMPLATE/issue-tempate.md
Due: prevent-todo-comments, prevent-too-small-headings

feat: update templates to be cooler
  .github/ISSUE_TEMPLATE/1-general.md
  .github/ISSUE_TEMPLATE/2-question.md
  .github/ISSUE_TEMPLATE/config.yml
Due: prevent-todo-comments, prevent-too-small-headings

Feat/update issue template to include docs section (#126)
  .github/ISSUE_TEMPLATE/1-general.md
  .github/ISSUE_TEMPLATE/2-question.md
  .github/ISSUE_TEMPLATE/config.yml
  .pre-commit-config.yaml
Due: prevent-todo-comments, prevent-too-small-headings

feat: added admission controller, added helm template for admission resources
  cmd/admissioncontroller/main.go
  containers/admissioncontroller/Dockerfile
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/admissiondeployment.yaml
  deployments/chart/templates/admissionrole.yaml
  deployments/chart/templates/admissionsecret.yaml
  deployments/chart/templates/admissionservice.yaml
  deployments/chart/templates/admissionserviceaccount.yaml
  deployments/chart/templates/leaserole.yaml
  deployments/chart/templates/validatingwebhookconfiguration.yaml
  deployments/chart/values.yaml
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/workloadAdmissionHandler.go
Due: prevent-todo-comments

refactor: helm chart leaderElection generation
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/leaserole.yaml
Due: prevent-todo-comments

refactor: improved error handling, log messages
  cmd/admissioncontroller/main.go
  deployments/chart/templates/admission/webhook.deploy.yaml
  deployments/chart/templates/admission/webhook.svc.yaml
  deployments/chart/templates/admission/webhook.tls.secret.yaml
  internal/api/kubernetes/admission/admissionHandler.go
  internal/api/kubernetes/admission/workloadAdmissionHandler.go
Due: prevent-todo-comments

refactor: kubernetes resources, improved validation logic, exposed http probe
  cmd/admissioncontroller/main.go
  deployments/chart/templates/admissiondeployment.yaml
  deployments/chart/templates/admissionservice.yaml
  deployments/chart/templates/validatingwebhookconfiguration.yaml
  internal/api/kubernetes/admission/workloadAdmissionHandler.go
Due: prevent-todo-comments

refactor: added release namespace to k8s resources in the chart
  deployments/chart/templates/configmap.yaml
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/leaserole.yaml
  deployments/chart/templates/serviceaccount.yaml
Due: prevent-todo-comments

refactor: refactored validate workload logic, removed port 8080 from service
  deployments/chart/templates/admissionservice.yaml
  internal/api/kubernetes/admission/workloadAdmissionHandler.go
Due: prevent-todo-comments

refactor: brackets helm values
  deployments/chart/values.yaml
Due: prevent-todo-comments

fix: update LayerID enums and stringer
  internal/pkg/values/layer.go
Due: prevent-todo-comments
