Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json|excalidraw)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.5.3
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

fix: add permissions
  .github/workflows/check_for_release.yaml
  .github/workflows/check_version.yaml
  .github/workflows/create_dev_build.yaml
  .github/workflows/deploy_website.yaml
  .github/workflows/docker_build.yaml
  .github/workflows/helm_build.yaml
  .github/workflows/validate_website_build.yaml
Due: prevent-todo-comments

fix: gh env
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

Feat/improve error handling (#198)
  cmd/kubedownscaler/errors.go
  cmd/kubedownscaler/main.go
  cmd/kubedownscaler/main_test.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/poddisruptionbudgets_test.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/replicaScaledWorkloads.go
  internal/pkg/scalable/replicaScaledWorkloads_test.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/dayTime.go
  internal/pkg/values/errors.go
  internal/pkg/values/scope.go
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

chore: pr threads
  .github/workflows/check_for_release.yaml
  .github/workflows/create_dev_build.yaml
  .github/workflows/deploy_website.yaml
Due: prevent-todo-comments

chore: change write-all
  .github/workflows/deploy_website.yaml
Due: prevent-todo-comments

Fix/security findings (#200)
  .github/workflows/check_for_release.yaml
  .github/workflows/check_version.yaml
  .github/workflows/create_dev_build.yaml
  .github/workflows/deploy_website.yaml
  .github/workflows/docker_build.yaml
  .github/workflows/helm_build.yaml
  .github/workflows/validate_website_build.yaml
Due: prevent-todo-comments

fix: permissions for label removal
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

fix: permissions for label removal (#202)
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

feat: add hierarchy diagram to all places
  .markdownlint-cli2.yaml
  README.md
  website/content/docs/1 - downscaler/0 - scopes/0 - Default Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/1 - Env Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/4 - Workload Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/index.mdx
  website/content/docs/1 - downscaler/0 - scopes/templates/_hierarchy-diagram.mdx
  website/plugins/global-ref-plugin.cts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add hirarchy diagram
  website/content/docs/1 - downscaler/0 - scopes/index.mdx
  website/docusaurus.config.ts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: fix broken link
  website/content/docs/2 - helm-chart/2 - values/11 - resources.mdx
  website/content/guides/0 - getting-started/2 - Concurrency.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: adjusted phrasing
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

feat: refactored homepage title for seo
  website/docusaurus.config.ts
  website/src/pages/index.tsx
Due: prevent-todo-comments, eslint

fix: mdlint errors
  website/content/docs/0 - architecture/0 - Architecture.mdx
  website/content/docs/1 - downscaler/0 - scopes/index.mdx
  website/content/docs/1 - downscaler/1 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: introduction section
  website/content/docs/0 - architecture/0 - Architecture.mdx
  website/content/docs/1 - downscaler/0 - Arguments.mdx
  website/content/docs/1 - downscaler/1 - Environment Variables.mdx
  website/content/docs/1 - downscaler/2 - Annotations.mdx
  website/content/docs/1 - downscaler/3 - Runtime Configuration.mdx
  website/content/docs/1 - downscaler/4 - Values.mdx
  website/content/docs/1 - downscaler/5 - Scopes.mdx
  website/content/docs/1 - downscaler/6 - types/0 - Timespans.mdx
  website/content/docs/1 - downscaler/6 - types/1 - Duration.mdx
  website/content/docs/1 - downscaler/6 - types/2 - String List.mdx
  website/content/docs/1 - downscaler/6 - types/3 - Regex List.mdx
  website/content/docs/1 - downscaler/6 - types/index.mdx
  website/content/docs/1 - downscaler/7 - Workload Types.mdx
  website/content/docs/1 - downscaler/assets/scope-diagram.excalidraw
  website/content/docs/1 - downscaler/index.mdx
  website/content/docs/2 - helm-chart/0 - Components.mdx
  website/content/docs/2 - helm-chart/1 - Permissions.mdx
  website/content/docs/2 - helm-chart/2 - values/0 - replicaCount.mdx
  website/content/docs/2 - helm-chart/2 - values/1 - image.mdx
  website/content/docs/2 - helm-chart/2 - values/10 - securityContext.mdx
  website/content/docs/2 - helm-chart/2 - values/11 - resources.mdx
  website/content/docs/2 - helm-chart/2 - values/12 - podAnnotations.mdx
  website/content/docs/2 - helm-chart/2 - values/13 - nodeSelector.mdx
  website/content/docs/2 - helm-chart/2 - values/14 - tolerations.mdx
  website/content/docs/2 - helm-chart/2 - values/15 - affinity.mdx
  website/content/docs/2 - helm-chart/2 - values/16 - excludedNamespaces.mdx
  website/content/docs/2 - helm-chart/2 - values/17 - configMap.mdx
  website/content/docs/2 - helm-chart/2 - values/18 - forceRestartOnConfigChange.mdx
  website/content/docs/2 - helm-chart/2 - values/2 - imagePullSecrets.mdx
  website/content/docs/2 - helm-chart/2 - values/3 - arguments.mdx
  website/content/docs/2 - helm-chart/2 - values/4 - includedResources.mdx
  website/content/docs/2 - helm-chart/2 - values/5 - fullnameOverride.mdx
  website/content/docs/2 - helm-chart/2 - values/6 - nameOverride.mdx
  website/content/docs/2 - helm-chart/2 - values/7 - constrainedNamespaces.mdx
  website/content/docs/2 - helm-chart/2 - values/8 - serviceAccount.mdx
  website/content/docs/2 - helm-chart/2 - values/9 - podSecurityContext.mdx
  website/content/docs/2 - helm-chart/2 - values/index.mdx
  website/content/docs/2 - helm-chart/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: sw to mermaid
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  website/content/contributing/0 - developing/1 - Website.mdx
  website/content/contributing/0 - developing/assets/example.excalidraw
  website/content/docs/1 - downscaler/0 - scopes/assets/scope-diagram.excalidraw
  website/content/docs/1 - downscaler/0 - scopes/index.mdx
  website/content/docs/1 - downscaler/assets/scope-diagram.excalidraw
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/plugins/conf-webpack.cts
  website/src/components/Excalidraw/Excalidraw.tsx
  website/src/components/Excalidraw/ExcalidrawRenderer.tsx
  website/src/types/components/common.d.ts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: add redirect
  website/src/pages/contributing.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: adjust numbering
  website/content/contributing/0 - developing/0 - Downscaler.mdx
  website/content/contributing/0 - developing/1 - Website.mdx
  website/content/contributing/0 - developing/2 - Helm Chart.mdx
  website/content/contributing/0 - developing/3 - Maintaining the Repository.mdx
  website/content/contributing/0 - developing/assets/example.excalidraw
  website/content/contributing/0 - developing/index.mdx
  website/content/contributing/1 - Github Workflows.mdx
  website/content/docs/1 - downscaler/0 - scopes/1 - Env Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/4 - Workload Scope.mdx
  website/content/docs/1 - downscaler/1 - configurations/0 - Runtime Configuration.mdx
  website/content/docs/1 - downscaler/1 - configurations/1 - Values.mdx
  website/content/docs/1 - downscaler/3 - staging/0 - Arguments.mdx
  website/content/docs/1 - downscaler/3 - staging/1 - Environment Variables.mdx
  website/content/docs/1 - downscaler/3 - staging/2 - Annotations.mdx
  website/content/docs/1 - downscaler/3 - staging/index.mdx
  website/content/docs/1 - downscaler/4 - Workload Types.mdx
  website/content/docs/1 - downscaler/index.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
  website/content/guides/1 - Migrating from py-kube-downscaler.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: add aria labels for images
  website/src/components/Homepage/SupportedResources.tsx
  website/src/theme/Logo/index.tsx
Due: prevent-todo-comments, eslint

feat: add social preview
  logo/assets/social-preview.svg
  website/docusaurus.config.ts
  website/static/img/social-preview.png
Due: prevent-todo-comments, eslint

feat: add robots.txt
  website/static/robots.txt
Due: none

chore: make validation run on pr
  .github/workflows/validate_website_build.yaml
Due: prevent-todo-comments

refactor: first doc redirect
  website/docusaurus.config.ts
  website/package-lock.json
  website/plugins/first-doc-redirect.cts
  website/src/components/FirstDocRedirect.tsx
  website/src/pages/contributing.mdx
  website/src/pages/docs.mdx
  website/src/pages/guides.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add animation
  website/package-lock.json
  website/package.json
  website/src/components/Homepage/SupportedResources.tsx
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/src/types/components/HomepageFeatures.d.ts
Due: prevent-todo-comments, eslint

refactor: docs structure and content with some additions
  website/content/docs/0 - architecture/0 - Architecture.mdx
  website/content/docs/1 - downscaler/0 - scopes/0 - Default Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/1 - Env Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/4 - Workload Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/index.mdx
  website/content/docs/1 - downscaler/1 - Workload Types.mdx
  website/content/docs/1 - downscaler/1 - configurations/3 - Runtime Configuration.mdx
  website/content/docs/1 - downscaler/1 - configurations/4 - Values.mdx
  website/content/docs/1 - downscaler/1 - configurations/index.mdx
  website/content/docs/1 - downscaler/index.mdx
  website/content/docs/2 - helm-chart/index.mdx
  website/content/guides/0 - getting-started/0 - Installation.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: add sitemap ref
  website/static/robots.txt
Due: none

fix: fixed links and added missing documentation
  website/content/contributing/1 - developing/0 - Downscaler.mdx
  website/content/contributing/1 - developing/1 - Website.mdx
  website/content/contributing/1 - developing/2 - Helm Chart.mdx
  website/content/contributing/1 - developing/3 - Maintaining the Repository.mdx
  website/content/contributing/1 - developing/index.mdx
  website/content/contributing/2 - Github Workflows.mdx
  website/content/docs/3 - Docker Image.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: sections
  website/content/docs/1 - downscaler/0 - scopes/0 - Default Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/1 - Env Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/3 - Namespace Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/4 - Workload Scope.mdx
  website/content/docs/1 - downscaler/0 - scopes/assets/scope-diagram.excalidraw
  website/content/docs/1 - downscaler/0 - scopes/index.mdx
  website/content/docs/1 - downscaler/1 - Workload Types.mdx
  website/content/docs/1 - downscaler/1 - configurations/3 - Runtime Configuration.mdx
  website/content/docs/1 - downscaler/1 - configurations/4 - Values.mdx
  website/content/docs/1 - downscaler/1 - configurations/index.mdx
  website/content/docs/1 - downscaler/2 - types/0 - Timespans.mdx
  website/content/docs/1 - downscaler/2 - types/1 - Duration.mdx
  website/content/docs/1 - downscaler/2 - types/2 - String List.mdx
  website/content/docs/1 - downscaler/2 - types/3 - Regex List.mdx
  website/content/docs/1 - downscaler/2 - types/index.mdx
  website/content/docs/1 - downscaler/5 - Scopes.mdx
  website/content/docs/1 - downscaler/9 - staging/0 - Arguments.mdx
  website/content/docs/1 - downscaler/9 - staging/1 - Environment Variables.mdx
  website/content/docs/1 - downscaler/9 - staging/2 - Annotations.mdx
  website/content/docs/1 - downscaler/9 - staging/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: fix broken links
  website/content/docs/1 - downscaler/0 - scopes/2 - CLI Scope.mdx
  website/content/docs/1 - downscaler/2 - types/0 - Timespans.mdx
  website/content/docs/1 - downscaler/9 - staging/0 - Arguments.mdx
  website/content/docs/1 - downscaler/9 - staging/1 - Environment Variables.mdx
  website/content/docs/1 - downscaler/9 - staging/2 - Annotations.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: added json-ld structured data script
  website/docusaurus.config.ts
Due: prevent-todo-comments, eslint

feat: introduced contributing sidebar, moved there all the development guides
  website/content/contributing/1 - developing/0 - Downscaler.mdx
  website/content/contributing/1 - developing/1 - Website.mdx
  website/content/contributing/1 - developing/2 - Helm Chart.mdx
  website/content/contributing/1 - developing/3 - Maintaining the Repository.mdx
  website/content/contributing/1 - developing/assets/example.excalidraw
  website/content/contributing/1 - developing/index.mdx
  website/content/contributing/2 - Github Workflows.mdx
  website/docusaurus.config.ts
  website/sidebars.ts
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: push npm updates
  website/package-lock.json
Due: prevent-todo-comments

chore: fix npm
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

feat: resources with ownerReference scaled only if the reference resources are included
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: filter based on controller=true and if ownerResource is inside includedResources
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: improved logic on ownerReference handling
  internal/api/kubernetes/client.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments

refactor: improved logic on ownerReference handling
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments
