Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
  language: node

refactor: minor improvements
  website/content/docs/2 - downscaler/2 - types/index.mdx
  website/content/guides/0 - getting-started/3 - On Demand Startup.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: helm chart backlinks and seo
  deployments/chart/Chart.yaml
  deployments/chart/README.md
Due: prevent-todo-comments, prevent-too-small-headings

refactor: minor improvements
  .github/workflows/backport.yaml
  .github/workflows/create_release.yaml
  website/content/docs/2 - downscaler/2 - types/index.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

chore: updated brace-expansion dependency
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

chore: updated brace-expansion dependency
  website/package.json
Due: prevent-todo-comments

feat: added options to specify pdbs
  deployments/chart/templates/poddisruptionbudget.yaml
  deployments/chart/templates/webhookpoddisruptionbudget.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: added options to specify pdbs
  website/content/docs/3 - helm-chart/0 - Components.mdx
  website/content/docs/3 - helm-chart/2 - values/24 - podDisruptionBudget.mdx
  website/content/docs/3 - helm-chart/2 - values/25 - webhookControllerEnabled.mdx
  website/content/docs/3 - helm-chart/2 - values/26 - webhookControllerImage.mdx
  website/content/docs/3 - helm-chart/2 - values/27 - webhookControllerNodeSelector.mdx
  website/content/docs/3 - helm-chart/2 - values/28 - webhookControllerReplicaCount.mdx
  website/content/docs/3 - helm-chart/2 - values/29 - webhookControllerAffinity.mdx
  website/content/docs/3 - helm-chart/2 - values/30 - webhookControllerCertManager.mdx
  website/content/docs/3 - helm-chart/2 - values/31 - webhookControllerClusterDomain.mdx
  website/content/docs/3 - helm-chart/2 - values/32 - webhookControllerMutatingWebhookConfiguration.mdx
  website/content/docs/3 - helm-chart/2 - values/33 - webhookControllerHealthProbes.mdx
  website/content/docs/3 - helm-chart/2 - values/34 - webhookControllerResources.mdx
  website/content/docs/3 - helm-chart/2 - values/35 - webhookControllerTolerations.mdx
  website/content/docs/3 - helm-chart/2 - values/36 - webhookControllerPriorityClassName.mdx
  website/content/docs/3 - helm-chart/2 - values/37 - webhookPodMonitor.mdx
  website/content/docs/3 - helm-chart/2 - values/38 - webhookControllerPodDisruptionBudget.mdx
  website/content/docs/3 - helm-chart/2 - values/39 - deployExtraResources.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: pre-commit suggestions
  internal/pkg/scalable/autoscalingrunnersets.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/postgresqls.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

fix: consider ownerReference only if the kind is a supported resource
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

refactor: comment
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat: add support for kruise resources
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/advancedstatefulsets.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/kruisestatefulsets.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: add support for kruise resources
  deployments/chart/templates/_helpers.tpl
  go.mod
  go.sum
  internal/pkg/scalable/clonesets.go
  internal/pkg/scalable/kruisestatefulsets.go
  internal/pkg/scalable/uniteddeployments.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/1 - Permissions.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added clientset, renamaed kruisestatefulset to advancedstatefulset
  cmd/admissioncontroller/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

chore: added openkruise logo and supported resources in docs
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
  website/static/img/OpenKruise.svg
Due: prevent-todo-comments, eslint

feat: added advancedcronjobs, broadcastjobs, advanceddaemonsets. refactored common daemonsets logic into nodeSelectorScaled interface
  go.mod
  go.sum
  internal/pkg/scalable/advancedcronjobs.go
  internal/pkg/scalable/advanceddaemonsets.go
  internal/pkg/scalable/broadcastjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/nodeSelectorScaledWorkload.go
  internal/pkg/scalable/nodeSelectorScaledWorkload_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: removed unitdeployments.go for incompatibility
  internal/pkg/scalable/uniteddeployments.go
Due: prevent-todo-comments

refactor: helpers resources and roles
  deployments/chart/templates/_helpers.tpl
Due: none

feat: added new kruise resources to frontend and docuemntation
  deployments/chart/values.yaml
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: clonset api version
  internal/pkg/scalable/clonesets.go
Due: prevent-todo-comments

feat: added groupversionkind to kruise resources
  internal/pkg/scalable/advancedcronjobs.go
  internal/pkg/scalable/advanceddaemonsets.go
  internal/pkg/scalable/advancedstatefulsets.go
  internal/pkg/scalable/broadcastjobs.go
  internal/pkg/scalable/clonesets.go
Due: prevent-todo-comments

refactor: advancedcronjobs logic
  internal/pkg/scalable/advancedcronjobs.go
Due: prevent-todo-comments

refactor: advanced daemonset text variables naming
  internal/pkg/scalable/nodeSelectorScaledWorkload_test.go
Due: prevent-todo-comments

feat: added imagepulljobs support
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/advancedcronjobs.go
  internal/pkg/scalable/broadcastjobs.go
  internal/pkg/scalable/imagepulljobs.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: typo on SupportedResources.tsx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, eslint

refactor: typo on workload types doc page
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: helm chart deploy permissions
  deployments/chart/templates/_helpers.tpl
Due: none

refactor: parallelism replicas logic in kruise jobs and util
  internal/pkg/scalable/advancedcronjobs.go
  internal/pkg/scalable/broadcastjobs.go
  internal/pkg/scalable/imagepulljobs.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments

chore: update mermaid dependencies
  website/package-lock.json
  website/package.json
Due: prevent-todo-comments

fix: continue processing when namespace scope can't be parsed for a particular namespace
  cmd/kubedownscaler/errors.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/api/kubernetes/errors.go
  internal/pkg/metrics/metrics.go
  internal/pkg/metrics/namespaceMetricsHolder.go
Due: prevent-todo-comments

refactor: added checks if metrics are disabled in handleNamespaceScopeParsingErrors func
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: handling metrics for generic and specific errors
  cmd/kubedownscaler/main.go
Due: prevent-todo-comments

refactor: validatingadmissionpolicy and mutatingadmissionpolicy
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/mutatingadmissionpolicy.yaml
  deployments/chart/templates/mutatingadmissionpolicyremoval.yaml
  deployments/chart/templates/validatingadmissionpolicy.yaml
  deployments/chart/templates/validatingadmissionpolicyremoval.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$
