Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

prevent-todo-comments:
  name: prevent todo comments
  entry: ( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

eslint:
  name: Run ESLint
  entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
  language: node

feat: added gateway clientset initialization
  internal/api/kubernetes/client.go
Due: prevent-todo-comments

chore: added gateway api logo and gateways in supported resources section
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
  website/static/img/Gateway.svg
Due: prevent-todo-comments, eslint

refactor: small corrections after rebasing
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads_test.go
  internal/pkg/values/replicas.go
  internal/pkg/values/replicas_test.go
Due: prevent-todo-comments

refactor: improved replicas.go set function in order to solve cyclop
  internal/pkg/values/replicas.go
Due: prevent-todo-comments

refactor: improved nilerr after parsing
  internal/pkg/values/replicas.go
Due: prevent-todo-comments

refactor: improved nilerr after parsing, new refactoring
  internal/pkg/values/replicas.go
Due: prevent-todo-comments

refactor: introduced sentinel error to parse functions in order to improve readibility
  internal/pkg/values/errors.go
  internal/pkg/values/replicas.go
Due: prevent-todo-comments

refactor: improved cyclop for replicasValue
  internal/pkg/values/replicas.go
Due: prevent-todo-comments

feat: added fix for scaled objects external exclusion when gvk is not present
  internal/pkg/scalable/autoscalingrunnersets.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/postgresqls.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments

refactor: removed identity check based on api version
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat: added singleTimeSpan implementation
  internal/pkg/values/errors.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

feat: renamed singleTimespan to more descriptive directionalTimespan
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
Due: prevent-todo-comments

feat: added docs for directional timespan
  website/content/docs/2 - downscaler/2 - types/0 - Timespans.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: singleTimeSpan renamed as directionalTimeSpan
  internal/pkg/values/timespan.go
Due: prevent-todo-comments

Feat/Added DirectionalTimeSpan Logic (From/Until Timespan) (#439)
  internal/pkg/values/errors.go
  internal/pkg/values/timespan.go
  internal/pkg/values/timespan_test.go
  website/content/docs/2 - downscaler/2 - types/0 - Timespans.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

fix: Avoid Scaling ScaledObject Targets When Workload TypeMeta Is Missing (#486)
  internal/pkg/scalable/autoscalingrunnersets.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/postgresqls.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments

fix: migrating to actions/checkout v7
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

feat: implemented services scaling
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/services_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/replicas.go
  internal/pkg/values/replicas_test.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/2 - values/4 - includedResources.mdx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add parseServiceFromBytes for NLB and ELB services
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: removed ingress class
  internal/pkg/scalable/ingresses.go
Due: prevent-todo-comments

feat: implementing logic for ingress
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

refactor: aggregated common logic into valueScaledWorkload
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/gateways_test.go
  internal/pkg/scalable/helpers_test.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/ingresses_test.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/services_test.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads_test.go
Due: prevent-todo-comments

feat: implementing ingresses and gateways downscaling logic, added helm chart logic and docs
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  go.mod
  go.sum
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/gateways_test.go
  internal/pkg/scalable/helpers_test.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/ingresses_test.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/2 - values/4 - includedResources.mdx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added deploy of ingressClass or gatewayClass when gateways or ingresses are in includedResources
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/downscalergatewayclass.yaml
  deployments/chart/templates/downscaleringressclass.yaml
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
Due: prevent-todo-comments

feat: added documentations
  website/content/docs/3 - helm-chart/0 - Components.mdx
  website/content/docs/3 - helm-chart/1 - Permissions.mdx
  website/content/docs/3 - helm-chart/2 - values/37 - deployExtraResources.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: deploy mode of gatewayClass and ingressClass
  deployments/chart/templates/NOTES.txt
  deployments/chart/templates/downscalergatewayclass.yaml
  deployments/chart/templates/downscaleringressclass.yaml
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: improvements suggested by code reviews
  deployments/chart/templates/downscaleringressclass.yaml
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/valueScaledWorkloads.go
  internal/pkg/scalable/valueScaledWorkloads_test.go
  internal/pkg/scalable/workload.go
  internal/pkg/values/replicas.go
  internal/pkg/values/replicas_test.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/0 - Components.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: added dns aware load balancer scaling documentation
  website/content/guides/1 - advanced-guides/2 - DNS-Aware Load Balancer Scaling.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

Path conditions:
  prevent-todo-comments: any of: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
  prevent-too-small-headings: any of: \.(md|mdx)$
  eslint: any of: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$
