Repository caas-team/GoKubeDownscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, eslint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.(json)$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
        args: [-race]
      - id: go-vet-repo-mod
      - id: go-fumpt-repo
        args: [-l, -w]
      - id: golangci-lint-repo-mod
        args: [--config, .golangci.yaml, --, --fix]
  - repo: https://github.com/jonathan-mayer/pre-commit-deadcode
    rev: v0.0.1
    hooks:
      - id: go-deadcode
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        files: \.(md|mdx)$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
        additional_dependencies:
          - sentences-per-line
          - "@jonathan-mayer/markdownlint-rule-titlecase"
        files: \.(md|mdx)$
        types_or: [markdown, mdx]
        types: []
  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '( |^)(//|#|<!--|{?\/\*)\s*(TODO|FIXME)\b' # matches a comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.(go|md|mdx|yaml|json|js|ts|jsx|tsx)$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches an h5 or smaller markdown heading
        language: pygrep
        files: \.(md|mdx)$
      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix --config=website/eslint.config.mjs "website/**/*.{js,jsx,ts,tsx,cts,cjs,mdx}"
        language: node
        files: website/.*\.(js|jsx|ts|tsx|cts|cjs|mdx)$

Fix/Algorithm Stops When Broken Annotation Is Found (#521)
  cmd/kubedownscaler/errors.go
  cmd/kubedownscaler/main.go
  internal/api/kubernetes/client.go
  internal/api/kubernetes/errors.go
  internal/pkg/metrics/metrics.go
  internal/pkg/metrics/namespaceMetricsHolder.go
Due: prevent-todo-comments

fix: consider ownerReference only if the kind is a supported resource
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

refactor: pre-commit suggestions
  internal/pkg/scalable/autoscalingrunnersets.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/postgresqls.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

refactor: comment
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

Fix/Consider OwnerReference Only For Scalable Resources (#518)
  internal/pkg/scalable/autoscalingrunnersets.go
  internal/pkg/scalable/cronjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/deployments.go
  internal/pkg/scalable/gateways.go
  internal/pkg/scalable/horizontalpodautoscalers.go
  internal/pkg/scalable/ingresses.go
  internal/pkg/scalable/jobs.go
  internal/pkg/scalable/kafkabridges.go
  internal/pkg/scalable/kafkaconnects.go
  internal/pkg/scalable/kafkamirrormaker2s.go
  internal/pkg/scalable/poddisruptionbudgets.go
  internal/pkg/scalable/postgresqls.go
  internal/pkg/scalable/prometheuses.go
  internal/pkg/scalable/rollouts.go
  internal/pkg/scalable/scaledobjects.go
  internal/pkg/scalable/services.go
  internal/pkg/scalable/stacks.go
  internal/pkg/scalable/statefulsets.go
  internal/pkg/scalable/util.go
Due: prevent-todo-comments

feat: add support for kruise resources
  deployments/chart/templates/_helpers.tpl
  go.sum
  internal/pkg/scalable/clonesets.go
  internal/pkg/scalable/kruisestatefulsets.go
  internal/pkg/scalable/uniteddeployments.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/content/docs/3 - helm-chart/1 - Permissions.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

feat: add support for kruise resources
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/advancedstatefulsets.go
  internal/pkg/scalable/errors.go
  internal/pkg/scalable/kruisestatefulsets.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: added clientset, renamaed kruisestatefulset to advancedstatefulset
  cmd/admissioncontroller/main.go
  internal/api/kubernetes/client.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

chore: added openkruise logo and supported resources in docs
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
  website/static/img/OpenKruise.svg
Due: prevent-todo-comments, eslint

refactor: removed unitdeployments.go for incompatibility
  internal/pkg/scalable/uniteddeployments.go
Due: prevent-todo-comments

feat: added advancedcronjobs, broadcastjobs, advanceddaemonsets. refactored common daemonsets logic into nodeSelectorScaled interface
  go.sum
  internal/pkg/scalable/advancedcronjobs.go
  internal/pkg/scalable/advanceddaemonsets.go
  internal/pkg/scalable/broadcastjobs.go
  internal/pkg/scalable/daemonsets.go
  internal/pkg/scalable/nodeSelectorScaledWorkload.go
  internal/pkg/scalable/nodeSelectorScaledWorkload_test.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
Due: prevent-todo-comments

feat: added new kruise resources to frontend and docuemntation
  deployments/chart/values.yaml
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: helpers resources and roles
  deployments/chart/templates/_helpers.tpl
Due: none

feat: added groupversionkind to kruise resources
  internal/pkg/scalable/advancedcronjobs.go
  internal/pkg/scalable/advanceddaemonsets.go
  internal/pkg/scalable/advancedstatefulsets.go
  internal/pkg/scalable/broadcastjobs.go
  internal/pkg/scalable/clonesets.go
Due: prevent-todo-comments

refactor: clonset api version
  internal/pkg/scalable/clonesets.go
Due: prevent-todo-comments

refactor: advancedcronjobs logic
  internal/pkg/scalable/advancedcronjobs.go
Due: prevent-todo-comments

refactor: advanced daemonset text variables naming
  internal/pkg/scalable/nodeSelectorScaledWorkload_test.go
Due: prevent-todo-comments

feat: added imagepulljobs support
  deployments/chart/templates/_helpers.tpl
  deployments/chart/values.yaml
  internal/pkg/scalable/advancedcronjobs.go
  internal/pkg/scalable/broadcastjobs.go
  internal/pkg/scalable/imagepulljobs.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/workload.go
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: typo on SupportedResources.tsx
  website/src/components/Homepage/SupportedResources/SupportedResources.tsx
Due: prevent-todo-comments, eslint

refactor: typo on workload types doc page
  website/content/docs/2 - downscaler/3 - Workload Types.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint

refactor: helm chart deploy permissions
  deployments/chart/templates/_helpers.tpl
Due: none

refactor: parallelism replicas logic in kruise jobs and util
  internal/pkg/scalable/advancedcronjobs.go
  internal/pkg/scalable/broadcastjobs.go
  internal/pkg/scalable/imagepulljobs.go
  internal/pkg/scalable/util.go
  internal/pkg/scalable/util_test.go
Due: prevent-todo-comments

refactor: go mod
  go.mod
Due: none

feat: further refactoring check_for_release action for hardening
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

chore: bumped go dependencies, website dependencies, docker base images
  build/admissioncontroller/Dockerfile
  build/kubedownscaler/Dockerfile
Due: none

refactor: check for release step to perform only a single check
  .github/workflows/check_for_release.yaml
Due: prevent-todo-comments

chore: bumped app version
  deployments/chart/Chart.yaml
Due: prevent-todo-comments

feat: added values.schema.json to helm chart
  deployments/chart/values.schema.json
Due: prevent-todo-comments

typo: removed space from dockerfile
  build/admissioncontroller/Dockerfile
Due: none

refactor: additional helm chart fixes and simplifications
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/podmonitor.yaml
  deployments/chart/templates/webhookclusterrole.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/templates/webhookpodmonitor.yaml
  deployments/chart/templates/webhookrole.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

refactor: helm chart fixes and simplifications
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/deployment.yaml
  deployments/chart/templates/podmonitor.yaml
  deployments/chart/templates/webhookclusterrole.yaml
  deployments/chart/templates/webhookdeployment.yaml
  deployments/chart/templates/webhookpodmonitor.yaml
  deployments/chart/templates/webhookrole.yaml
  deployments/chart/templates/webhookserviceaccount.yaml
  deployments/chart/values.schema.json
  deployments/chart/values.yaml
Due: prevent-todo-comments

feat: added llms.txt for seo and ai models crawling
  website/static/llms.txt
Due: none

feat: added backport dedicated action with backportrc.json file
  .backportrc.json
  .github/workflows/backport.yaml
Due: prevent-todo-comments

feat: added release branching strategy and backport for easy cherry picks
  .github/workflows/create_release.yaml
  CONTRIBUTING.md
  website/content/contributing/1 - Maintaining the Repository.mdx
  website/content/contributing/2 - Github Workflows.mdx
Due: prevent-todo-comments, prevent-too-small-headings, eslint
